[submodule "Plugin_EnglishDictionary"]
	path = Plugin_EnglishDictionary
	url = https://github.com/Faeq-F/Quokka-EnglishDictionary-Plugin.git
[submodule "Plugin_Calculator"]
	path = Plugin_Calculator
	url = https://github.com/Faeq-F/Quokka-Calculator-Plugin.git
[submodule "Plugin_Everything"]
	path = Plugin_Everything
	url = https://github.com/Faeq-F/Quokka-Everything-Plugin.git
[submodule "Plugin_InstalledApps"]
	path = Plugin_InstalledApps
	url = https://github.com/Faeq-F/Quokka-InstalledApps-Plugin.git
[submodule "Plugin_PortableApps"]
	path = Plugin_PortableApps
	url = https://github.com/Faeq-F/Quokka-PortableApps-Plugin.git
[submodule "Plugin_PowerCommands"]
	path = Plugin_PowerCommands
	url = https://github.com/Faeq-F/Quokka-PowerCommands-Plugin.git
[submodule "Plugin_UnicodeCharacterLookup"]
	path = Plugin_UnicodeCharacterLookup
	url = https://github.com/Faeq-F/Quokka-UnicodeCharacterLookup-Plugin.git
[submodule "Plugin_Settings"]
	path = Plugin_Settings
	url = https://github.com/Faeq-F/Quokka-Settings-Plugin.git
[submodule "Plugin_ShellCommand"]
	path = Plugin_ShellCommand
	url = https://github.com/Faeq-F/Quokka-ShellCommand-Plugin.git
[submodule "Plugin_DeviceAddresses"]
	path = Plugin_DeviceAddresses
	url = https://github.com/Faeq-F/Quokka-DeviceAddresses-Plugin.git
[submodule "Plugin_WebSearch"]
	path = Plugin_WebSearch
	url = https://github.com/Faeq-F/Quokka-WebSearch-Plugin.git
[submodule "Plugin_WindowSwitch"]
	path = Plugin_WindowSwitch
	url = https://github.com/Faeq-F/Quokka-WindowSwitch-Plugin.git
[submodule "Plugin_TypedText"]
	path = Plugin_TypedText
	url = https://github.com/Faeq-F/Quokka-TypedText-Plugin.git
[submodule "Plugin_Gitmoji"]
	path = Plugin_Gitmoji
	url = https://github.com/Faeq-F/Quokka-Gitmoji-Plugin.git
