<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<script src="scripts/Gallery.js"></script>
<script src="scripts/header.js"></script>
<script src="scripts/ScrollFade.js"></script>
<script src="scripts/HueRotate.js"></script>
<script src="scripts/Docs.js"></script>
<script src="scripts/FAQ.js"></script>
<script src="scripts/windows-ui.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace({
    "stroke-width": 2.5,
    width: 16,
    height: 16,
    fill: "transparent",
  });
  let colorScheme = Appearance.getColorScheme();

  //for loading the correct theme on load
  if (colorScheme === "light") {
    document
      .getElementsByClassName("switch__input")[0]
      .setAttribute("checked", "checked");
  } else {
    document
      .getElementsByClassName("switch__input")[0]
      .removeAttribute("checked");
  }

  let ThemeIcon = document.getElementById("ThemeIcon");
  document
    .getElementsByClassName("switch__input")[0]
    .addEventListener("click", function () {
      if (colorScheme === "light") {
        Appearance.setDarkScheme();
        ThemeIcon.innerHTML = `<i data-feather="moon" class="app-color-primary"></i>`;
      } else {
        Appearance.setLightScheme();
        ThemeIcon.innerHTML = `<i data-feather="sun" class="app-color-primary"></i>`;
      }

      //have to replace icons again due to color change (since svg used)
      feather.replace({
        "stroke-width": 2.5,
        width: 16,
        height: 16,
        fill: "transparent",
      });

      colorScheme = Appearance.getColorScheme();
    });
</script>
