<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="scripts/Gallery.js"></script>
<script src="scripts/header.js"></script>
<script src="scripts/Docs.js"></script>
<script src="scripts/windows-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/culori"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>
  AOS.init();
  //---------------------------------------------------
  const lenis = new Lenis();
  lenis.on("scroll", (e) => {});
  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }
  requestAnimationFrame(raf);
  //---------------------------------------------------
  const sliderInput = $(".slider__input");
  sliderInput[0].oninput = (e) => {
    document.firstElementChild.style.setProperty("--hue", e.target.value);
  };
</script>
<script>
  let ThemeIcon = document.getElementById("ThemeIcon");
  let colorScheme = Appearance.getColorScheme();

  // for loading the correct theme on page load
  if (colorScheme === "light") {
    document
      .getElementsByClassName("switch__input")[0]
      .setAttribute("checked", "checked");
    ThemeIcon.innerHTML = `<i data-feather="sun" class="app-color-primary"></i>`;
  } else {
    document
      .getElementsByClassName("switch__input")[0]
      .removeAttribute("checked");
    ThemeIcon.innerHTML = `<i data-feather="moon" class="app-color-primary"></i>`;
  }

  // load icons for page
  feather.replace({
    "stroke-width": 2.5,
    width: 16,
    height: 16,
    fill: "transparent",
  });

  // theme switching
  document
    .getElementsByClassName("switch__input")[0]
    .addEventListener("click", function () {
      if (colorScheme === "light") {
        Appearance.setDarkScheme();
        ThemeIcon.innerHTML = `<i data-feather="moon" class="app-color-primary"></i>`;
      } else {
        Appearance.setLightScheme();
        ThemeIcon.innerHTML = `<i data-feather="sun" class="app-color-primary"></i>`;
      }

      // have to replace icons again due to color change (since svg used)
      feather.replace({
        "stroke-width": 2.5,
        width: 16,
        height: 16,
        fill: "transparent",
      });

      colorScheme = Appearance.getColorScheme();
    });
</script>
