<div id="FAQ">
  <div
    class="card"
    data-aos="fade-down">
    <div
      class="ag-timeline_title-box"
      data-aos="fade-down">
      <div class="ag-timeline_title">Frequently asked Questions</div>
    </div>

    <div class="app-accordion">
      {% for question in site.data.FAQ %}
      <div
        class="app-accordion-header"
        data-win-toggle="collapse"
        data-win-target="#collapse{{ forloop.index0 }}"
        aria-expanded="false"
        aria-controls="collapse{{ forloop.index0 }}">
        <div class="app-accordion-title">
          <span>{{ question.question }}</span>
        </div>
      </div>
      <div
        class="app-accordion-panel"
        id="collapse{{ forloop.index0 }}">
        <p>{{ question.answer }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<style>
  #FAQ {
    width: 100vw;
  }

  @media (max-width: 661px) {
    .app-accordion-panel,
    .app-accordion-title {
      font-size: 11px;
    }
  }
</style>
