<div id="FAQ">
  <div
    class="card"
    data-aos="fade-down">
    <div
      class="ag-timeline_title-box"
      data-aos="fade-down">
      <div class="ag-timeline_title">Frequently asked Questions</div>
    </div>
    <div class="app-accordion">
      <div
        class="app-accordion-header"
        data-win-toggle="collapse"
        data-win-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne">
        <div class="app-accordion-title">
          <span>How do you monetize the application?</span>
        </div>
      </div>
      <div
        class="app-accordion-panel"
        id="collapseOne">
        <p>
          I don't, though I may in future. I will only generate revenue from
          this software in a way that doesn't compromise user privacy.
        </p>
      </div>
      <div
        class="app-accordion-header"
        data-win-toggle="collapse"
        data-win-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo">
        <div class="app-accordion-title">
          <span>How do I set the app to run at startup automatically?</span>
        </div>
      </div>
      <div
        class="app-accordion-panel"
        id="collapseTwo">
        <p>
          There are two ways, the second providing slightly more control:<br /><br />You
          can create a shortcut to the .exe file of the app (right click to show
          context menu ➤ click 'Show more options' ➤ click 'Create shortcut')
          and copy it to the following directory;
          "C:\Users\USERNAME\AppData\Roaming\Microsoft\Windows\Start
          Menu\Programs\Startup\", where 'USERNAME' is your Windows profile
          name.<br /><br />or you can create a task for the program in Task
          scheduler;<br />Follow a guide to create a basic task, like the
          following
          <a
            href="https://www.windowscentral.com/how-create-automated-task-using-task-scheduler-windows-10"
            >guide to create an automated task by Mauro Huculak on Windows
            Central</a
          >.<br />You will want to set it to start 'When I log on' and give
          'Quokka.exe' (located in the root of the program folder) as the
          program. You do not need to add any arguments.
        </p>
      </div>
      <div
        class="app-accordion-header"
        data-win-toggle="collapse"
        data-win-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree">
        <div class="app-accordion-title">
          <span>Question 3</span>
        </div>
      </div>
      <div
        class="app-accordion-panel"
        id="collapseThree">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div
        class="app-accordion-header"
        data-win-toggle="collapse"
        data-win-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour">
        <div class="app-accordion-title">
          <span>Question 4</span>
        </div>
      </div>
      <div
        class="app-accordion-panel"
        id="collapseFour">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div
        class="app-accordion-header"
        data-win-toggle="collapse"
        data-win-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive">
        <div class="app-accordion-title">
          <span>Question 5</span>
        </div>
      </div>
      <div
        class="app-accordion-panel"
        id="collapseFive">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
<style>
  #FAQ {
    width: 100vw;
  }
</style>
