<div id="Features">
  <div class="ag-timeline_title-box" data-aos="fade-down">
    <div class="ag-timeline_title">Features</div>
  </div>
  <div id="FeaturesContainer">
    <div class="card" id="feature1" data-aos="fade-up-right">
      <div class="FeatureName">
        <i data-feather="package" class="app-color-primary" width="45"
          height="45"></i>
        <div class="FeatureTitle">Easily extensible</div>
        <div class="FeatureSubTitle">Plugin-oriented architecture; add or remove
          any feature you wish</div>
      </div>
    </div>
    <div class="card" id="feature2" data-aos="fade-up-left">
      <div class="FeatureName">
        <i data-feather="aperture" class="app-color-primary" width="45"
          height="45"></i>
        <div class="FeatureTitle">Customizable GUI & functionality</div>
        <div class="FeatureSubTitle">Flexible, with an intuitive file-based
          configuration</div>
      </div>
    </div>
    <div class="card" id="feature3" data-aos="fade-up-right">
      <div class="FeatureName">
        <i data-feather="dollar-sign" class="app-color-primary" width="45"
          height="45"></i>
        <div class="FeatureTitle">Completely FOSS</div>
        <div class="FeatureSubTitle">No premium tiers or paywalls - everything's
          included, with no ads or tracking
        </div>
      </div>
    </div>
    <div class="card" id="feature4" data-aos="fade-up-left">
      <div class="FeatureName">
        <i data-feather="terminal" class="app-color-primary" width="45"
          height="45"></i>
        <div class="FeatureTitle">and more!</div>
        <div class="FeatureSubTitle">Fuzzy Search, Special Commands, Command
          signifiers, etc.</div>
      </div>
    </div>
  </div>
</div>


<style>
  #Features {

    width: 100%;
    margin-bottom: 40vh;
  }

  #FeaturesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 10em);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  @media (max-width: 1450px) {
    #FeaturesContainer {
      grid-row-gap: 10%;
    }
  }

  @media (max-width: 650px) {
    #FeaturesContainer {
      grid-row-gap: 85%;
    }
  }

  #Features .card {
    width: 85%;
    height: fit-content;
  }

  #feature1 {
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 5px;

  }

  #feature2 {
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 5px;
  }

  #feature3 {
    grid-area: 2 / 1 / 3 / 2;
    margin-right: 5px;
  }

  #feature4 {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 5px;
  }

  .FeatureName {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .FeatureName svg {
    grid-area: 1 / 1 / 3 / 2;
    margin: 0 auto;
    position: absolute;
    top: 0%;
    margin-left: 1.5%;
    transform: translateY(100%);
  }

  .FeatureName .FeatureTitle {
    grid-area: 1 / 2 / 2 / 7;
    text-align: left;
    font-size: larger;
    line-height: 1.45;
    font-weight: 600;
    position: absolute;
    top: 0%;
    transform: translateY(150%);
    margin-left: 10%;
  }

  .FeatureName .FeatureSubTitle {
    grid-area: 2 / 2 / 3 / 3;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
  }
</style>