<header
  id="header"
  class="hidemee">
  <nav>
    <ul class="navbar">
      <li class="headerLink">
        <a
          href="#top"
          onclick="lenis.scrollTo('#top')"
          style="padding-right: 0">
          <img
            src="Resources/QuokkaTextLogo.svg"
            height="32px" />
        </a>
        <span id="headerPipe"></span>
      </li>
      <li class="headerLink">
        <a
          href="#top"
          onclick="lenis.scrollTo('#top')">
          <span class="headerText">Home</span>
        </a>
      </li>
      <li class="headerLink">
        <a
          href="#Plugins"
          onclick="lenis.scrollTo('#Plugins')">
          <span class="headerText">Plugins</span>
        </a>
      </li>
      <li class="headerLink">
        <a
          href="#FAQ"
          onclick="lenis.scrollTo('#FAQ')">
          <span class="headerText">FAQ</span>
        </a>
      </li>
      <li class="headerLink">
        <a
          href="#Documentation"
          onclick="lenis.scrollTo('#Documentation')">
          <span class="headerText">Documentation</span>
        </a>
      </li>
      <li class="headerLink right-li connectButton">
        <a href="https://github.com/Faeq-F/Quokka/releases/latest">
          <button class="app-btn app-btn-primary">
            Download Latest Release
          </button>
        </a>
      </li>
    </ul>
  </nav>
</header>
