<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!--Scroll & animation-->
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script>
<link
  href="https://unpkg.com/aos@2.3.1/dist/aos.css"
  rel="stylesheet" />

<!--Win UI-->
<link
  href="https://cdn.jsdelivr.net/npm/windows-ui-fabric@4.0.2/dist/config/app-config.css"
  rel="stylesheet"
  crossorigin="anonymous" />
<link
  href="https://cdn.jsdelivr.net/npm/windows-ui-fabric@4.0.2/dist/windows-ui.min.css"
  rel="stylesheet"
  crossorigin="anonymous" />
<link
  href="styles/winui-icons.min.css"
  rel="stylesheet"
  crossorigin="anonymous" />
