<head>
  <link
    href="https://fonts.googleapis.com/css?family=Varela Round"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=M PLUS Rounded 1c"
    rel="stylesheet" />
  <meta charset="utf-8" />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1" />
  <title>Quokka</title>
  <meta
    name="description"
    content="A customizable keystroke launcher with plugins" />
  <link
    rel="icon"
    type="image/x-icon"
    href="https://raw.githubusercontent.com/Faeq-F/Quokka/main/Config/Resources/SearchIcon.png" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!--Scroll library-->
  <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script>
  <link
    href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link
    href="https://cdn.jsdelivr.net/npm/windows-ui-fabric@4.0.2/dist/config/app-config.css"
    rel="stylesheet"
    crossorigin="anonymous" />
  <link
    href="https://cdn.jsdelivr.net/npm/windows-ui-fabric@4.0.2/dist/windows-ui.min.css"
    rel="stylesheet"
    crossorigin="anonymous" />
  <link
    href="styles/winui-icons.min.css"
    rel="stylesheet"
    crossorigin="anonymous" />

  <link
    rel="stylesheet"
    href="styles/Main.css" />

  <link
    rel="stylesheet"
    href="styles/Plugins.css" />
  <link
    rel="stylesheet"
    href="styles/header.css" />
  <link
    rel="stylesheet"
    href="styles/home.css" />
  <link
    rel="stylesheet"
    href="styles/gradButtons.css" />
  <link
    rel="stylesheet"
    href="styles/DarkTheme.css" />
  <link
    rel="stylesheet"
    href="styles/FAQ.css" />
  <link
    rel="stylesheet"
    href="styles/Documentation.css" />
  <link
    rel="stylesheet"
    href="styles/Carousel.css" />
  <link
    rel="stylesheet"
    href="styles/Tables.css" />
</head>
