<head>
  <title>Quokka</title>
  <meta
    name="description"
    content="A customizable keystroke launcher with plugins" />
  <link
    rel="icon"
    type="image/x-icon"
    href="Resources/QuokkaLogo.svg" />

  <!--res-->
  {% include head-fonts.html %} {% include head-libraries.html %} {% include
  head-styles.html %}

  <!--Other-->
  <meta charset="utf-8" />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1" />
</head>
