<div
  id="HomeView"
  class="hidemee">
  <p id="title">
    <strong>Quokka</strong
    ><br style="display: block; content: ''; margin-top: -4%" />
    <span style="font-size: medium; font-weight: bold"
      >A customizable keystroke launcher with plugins</span
    >
    <br style="display: block; content: ''; margin-top: -2%" />
    <span style="display: inline-block">
      <a href="https://github.com/Faeq-F/Quokka">
        <button class="app-btn">
          <i data-feather="github"></i><span>View Repository</span>
        </button>
      </a>
    </span>
    <span style="display: inline-block">
      <a href="https://github.com/Faeq-F/Quokka/releases/latest">
        <button class="app-btn app-btn-primary">
          <i data-feather="download"></i><span>Download Latest Release</span>
        </button>
      </a>
    </span>
    <br style="display: block; content: ''; margin-top: -5%" />

    <span style="position: inherit; width: 100%">
      <i
        data-feather="droplet"
        style="position: relative; top: -4px"
        class="app-color-primary"></i>
      <span
        class="app-range-slider"
        style="width: 50%">
        <input
          class="slider__input"
          type="range"
          value="288"
          min="0"
          max="360"
          id="hue" />
      </span>
      <span
        id="ThemeIcon"
        style="position: relative; top: -4px">
        <i
          data-feather="sun"
          class="app-color-primary"></i>
      </span>
      <label
        class="app-switch"
        style="top: -5px; position: relative">
        <input
          class="switch__input"
          type="checkbox"
          checked />

        <span
          class="app-switch-view"
          style="height: 15px; width: 30px"></span>
      </label>
    </span>
  </p>
  <div
    class="aboutCard"
    data-aos="fade-down">
    <div id="homeGalleryContainer">
      <input
        type="radio"
        name="position"
        class="app-radio-button"
        checked />
      <input
        type="radio"
        name="position"
        class="app-radio-button" />
      <input
        type="radio"
        name="position"
        class="app-radio-button" />
      <input
        type="radio"
        name="position"
        class="app-radio-button" />
      <input
        type="radio"
        name="position"
        class="app-radio-button" />
      <div id="homeGallery">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
      </div>
    </div>
  </div>
</div>
<img
  src="https://raw.githubusercontent.com/Faeq-F/faeq-f.github.io/master/Resources/scrollDown.gif"
  id="HomeScrollImg" />
