<div id="HomeView" class="hidemee">
  <p id="title">
    <strong>Quokka</strong><br
      style="display: block; content: ''; margin-top: -4%" />
    <span style="font-size: medium; font-weight: bold">A customizable keystroke
      launcher with plugins</span>
    <br style="display: block; content: ''; margin-top: -2%" />
    <span style="display: inline-block">
      <a href="https://github.com/Faeq-F/Quokka">
        <button class="app-btn">
          <i data-feather="github"></i><span>View Repository</span>
        </button>
      </a>
    </span>
    <span style="display: inline-block">
      <a href="https://github.com/Faeq-F/Quokka/releases/latest">
        <button class="app-btn app-btn-primary">
          <i data-feather="download"></i><span>Download Latest Release</span>
        </button>
      </a>
    </span>
    <br style="display: block; content: ''; margin-top: -5%" />

    <span style="position: inherit; width: 100%">
      <i data-feather="droplet" style="position: relative; top: -4px"
        class="app-color-primary"></i>
      <span class="app-range-slider" style="width: 50%">
        <input class="slider__input" type="range" value="288" min="0" max="360"
          id="hue" />
      </span>
      <span id="ThemeIcon" style="position: relative; top: -4px">
        <i data-feather="sun" class="app-color-primary"></i>
      </span>
      <label class="app-switch" style="top: -5px; position: relative">
        <input class="switch__input" type="checkbox" checked />

        <span class="app-switch-view" style="height: 15px; width: 30px"></span>
      </label>
    </span>
  </p>
  <div class="aboutCard" data-aos="fade-down">
    <section id="main-slider" class="splide" aria-label="Quokka Themes">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="Resources/Theme1.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme2.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme3.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme4.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme5.png" alt="">
          </li>
        </ul>
      </div>
    </section>
    <br>
    <section id="thumbnail-slider" class="splide"
      aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Themes carousel.">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img src="Resources/Theme1.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme2.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme3.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme4.png" alt="">
          </li>
          <li class="splide__slide">
            <img src="Resources/Theme5.png" alt="">
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
<img
  src="https://raw.githubusercontent.com/Faeq-F/PersonalSite2023/master/Resources/scrollDown.gif"
  id="HomeScrollImg" />

<style>
  .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 3px solid var(--primary);
    border-radius: 7px;
  }

  #thumbnail-slider-list {
    justify-content: center;
  }

  #main-slider {
    width: 795px;
    margin: 0 auto;
  }

  #thumbnail-slider {
    padding-left: 10px;
  }
</style>
<script>
  // For the image slider
  var main = new Splide('#main-slider', {
    type: 'fade',
    heightRatio: 0.5,
    arrows: false,
    pagination: false,
    fixedWidth: 795,
    fixedHeight: 424
  });

  var thumbnails = new Splide('#thumbnail-slider', {
    pagination: false,
    rewind: true,
    fixedWidth: 140,
    fixedHeight: 80,
    isNavigation: true,
    gap: 10,
    dragMinThreshold: {
      mouse: 4,
      touch: 10,
    },
    breakpoints: {
      640: {
        fixedWidth: 66,
        fixedHeight: 38,
      },
    },
  });

  main.sync(thumbnails);
  main.mount();
  thumbnails.mount();
</script>