<div id="Plugins">
  <section>
    <aside>
      <div
        class="card"
        data-aos="fade-up-right"
        style="padding-top: 0">
        <div
          class="ag-timeline_title-box"
          data-aos="fade-up-right"
          style="margin-bottom: 0; padding-bottom: 0">
          <div class="ag-timeline_title">Plugins</div>
        </div>
        <p
          class="PortfolioWorkHeader"
          style="font-size: 1.17em">
          Screenshots for selected plugin:
        </p>
        <div
          id="PluginScreenshotsGrid"
          data-lenis-prevent></div>
        <img
          src="https://raw.githubusercontent.com/Faeq-F/faeq-f.github.io/master/Resources/scrollDown.gif"
          id="PortfolioScrollImg" />
      </div>
    </aside>

    <div
      class="content"
      data-aos="fade-up-left">
      <p class="PortfolioWorkHeader">Recognized plugins:</p>
      <div
        style="text-align: center"
        id="PluginCards">
        <button class="ProjectCard">
          <div>
            <p class="PluginName">
              <i
                data-feather="box"
                class="app-color-primary"></i>
              Installed Apps
            </p>
            <p class="PluginDesc">Launch apps installed on your machine</p>
            <div class="PluginButtonGroup">
              <a
                class="SiteButton"
                title="Visit site"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn">
                  <i
                    data-feather="link-2"
                    class="app-color-primary"></i
                  ><span class="DeveloperName"
                    >Developed&nbsp;by&nbsp;Faeq</span
                  >
                </span>
              </a>
              <a
                class="SiteButton"
                title="Download"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn app-btn-primary">
                  <i
                    data-feather="download"
                    style="color: var(--color-background-default)"
                    class="app-color-primary"></i>
                </span>
              </a>
            </div>
          </div>
        </button>

        <button class="ProjectCard">
          <div>
            <p class="PluginName">
              <i
                data-feather="box"
                class="app-color-primary"></i>
              Portable Apps
            </p>
            <p class="PluginDesc">
              Launch portable applications stored in a given directory
            </p>
            <div class="PluginButtonGroup">
              <a
                class="SiteButton"
                title="Visit site"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn">
                  <i
                    data-feather="link-2"
                    class="app-color-primary"></i
                  ><span class="DeveloperName"
                    >Developed&nbsp;by&nbsp;Faeq</span
                  >
                </span>
              </a>
              <a
                class="SiteButton"
                title="Download"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn app-btn-primary">
                  <i
                    data-feather="download"
                    style="color: var(--color-background-default)"
                    class="app-color-primary"></i>
                </span>
              </a>
            </div>
          </div>
        </button>

        <button class="ProjectCard">
          <div>
            <p class="PluginName">
              <i
                data-feather="box"
                class="app-color-primary"></i>
              Everything
            </p>
            <p class="PluginDesc">
              Search through and find files and folders; requires the
              <a
                href="https://www.voidtools.com/"
                style="
                  font-style: oblique;
                  font-weight: bold;
                  color: oklch(0.5 0.2 var(--hue));
                ">
                Everything
              </a>
              service to be running
            </p>
            <div class="PluginButtonGroup">
              <a
                class="SiteButton"
                title="Visit site"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn">
                  <i
                    data-feather="link-2"
                    class="app-color-primary"></i
                  ><span class="DeveloperName"
                    >Developed&nbsp;by&nbsp;Faeq</span
                  >
                </span>
              </a>
              <a
                class="SiteButton"
                title="Download"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn app-btn-primary">
                  <i
                    data-feather="download"
                    style="color: var(--color-background-default)"
                    class="app-color-primary"></i>
                </span>
              </a>
            </div>
          </div></button
        ><button class="ProjectCard">
          <div>
            <p class="PluginName">
              <i
                data-feather="box"
                class="app-color-primary"></i>
              Power Commands
            </p>
            <p class="PluginDesc">
              Shutdown, restart, set to sleep, sign out of and lock your PC
            </p>
            <div class="PluginButtonGroup">
              <a
                class="SiteButton"
                title="Visit site"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn">
                  <i
                    data-feather="link-2"
                    class="app-color-primary"></i
                  ><span class="DeveloperName"
                    >Developed&nbsp;by&nbsp;Faeq</span
                  >
                </span>
              </a>
              <a
                class="SiteButton"
                title="Download"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn app-btn-primary">
                  <i
                    data-feather="download"
                    style="color: var(--color-background-default)"
                    class="app-color-primary"></i>
                </span>
              </a>
            </div>
          </div></button
        ><button class="ProjectCard">
          <div>
            <p class="PluginName">
              <i
                data-feather="box"
                class="app-color-primary"></i>
              Calculator
            </p>
            <p class="PluginDesc">Calculate mathematical expressions</p>
            <div class="PluginButtonGroup">
              <a
                class="SiteButton"
                title="Visit site"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn">
                  <i
                    data-feather="link-2"
                    class="app-color-primary"></i
                  ><span class="DeveloperName"
                    >Developed&nbsp;by&nbsp;Faeq</span
                  >
                </span>
              </a>
              <a
                class="SiteButton"
                title="Download"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn app-btn-primary">
                  <i
                    data-feather="download"
                    style="color: var(--color-background-default)"
                    class="app-color-primary"></i>
                </span>
              </a>
            </div>
          </div></button
        ><button class="ProjectCard">
          <div>
            <p class="PluginName">
              <i
                data-feather="box"
                class="app-color-primary"></i>
              English Dictionary
            </p>
            <p class="PluginDesc">
              Find denotations for words in the English (US) language
            </p>
            <div class="PluginButtonGroup">
              <a
                class="SiteButton"
                title="Visit site"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn">
                  <i
                    data-feather="link-2"
                    class="app-color-primary"></i
                  ><span class="DeveloperName"
                    >Developed&nbsp;by&nbsp;Faeq</span
                  >
                </span>
              </a>
              <a
                class="SiteButton"
                title="Download"
                href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                <span class="app-btn app-btn-primary">
                  <i
                    data-feather="download"
                    style="color: var(--color-background-default)"
                    class="app-color-primary"></i>
                </span>
              </a>
            </div>
          </div>
        </button>

        <p style="color: var(--primary); text-shadow: 3px 1px 3px oklch(1 0 0)">
          Please support all developers!
        </p>
      </div>

      <h2 style="color: transparent">Title 1</h2>
      <h4 style="color: transparent">Subheading</h4>
      <p style="color: transparent">Text</p>
      <h4 style="color: transparent">Subheading</h4>
      <p style="color: transparent">Text</p>
      <h4 style="color: transparent">Subheading</h4>
      <p style="color: transparent">Text</p>
    </div>
  </section>
</div>
