<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/Main.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/About.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/Plugins.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/header.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/home.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/gradButtons.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/DarkTheme.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/FAQ.css" />
<link
  rel="stylesheet"
  href="https://raw.githubusercontent.com/Faeq-F/Quokka/gh-pages/styles/Documentation.css" />
