@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

*{
  transition: 200ms all;
  scroll-behavior: smooth;
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb{
  border-radius: 360px;
}

.varela {
  font-family: "Varela Round", sans-serif;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.dark video,
.dark img{
  filter: brightness(0.8);
}

.dark img.dark\:invert-100{
  filter: invert(100);
}

.maz-elevation {
  box-shadow: none !important;
}

/*
  Cursors by GeorgiosNexus (Light cursors) & AKGAMER (Dark cursors)
  http://www.rw-designer.com/cursor-set/windows-11-light-theme
  http://www.rw-designer.com/cursor-set/windows-11-dark-theme
*/

textarea,
label,
html {
  cursor: url(../cursors/lightPoint.cur),
    auto !important;
}

button,
input,
a {
  cursor: url(../cursors/lightClick.cur),
    auto !important;
}


.dark textarea,
.dark label,
html.dark {
  cursor: url(../cursors/darkPoint.cur),
    auto !important;
}

.dark button,
.dark input,
.dark a {
  cursor: url(../cursors/darkClick.cur),
    auto !important;
}
