@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
@import "./maz-ui-variables.css";
import 'maz-ui/styles'

*{
  transition: 200ms all;
  scroll-behavior: smooth;
}

#navbar,
body{
  transition: 200ms all ease-in-out;
}

::selection {
  background-color: #eeeeee !important;
}

.dark ::selection {
  background-color: #142550 !important;
}

/* Scroll bar */

  * {
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
  }

  .docsContent:has(iframe){
    overflow: hidden;
  }

/* Font classes */

.varela {
  font-family: "Varela Round", sans-serif;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

/* Dark-mode specific styles */

.dark video,
.dark img{
  filter: brightness(0.8);
}

.dark img.dark\:invert-100{
  filter: invert(100);
}

/* Overriding Maz-UI styles */

.maz-elevation {
  box-shadow: none !important;
}

.m-input-wrapper {
  overflow: visible !important;
  z-index: 3 !important;
}

.m-select-list{
  --maz-border-color: #e5e7eb;
}

.m-select .maz-border-primary {
  border-color: transparent !important;
}

.m-table-header {
  background: transparent !important;
  justify-content: center !important;
  padding: 0 !important;
}

.m-table-header .m-input-wrapper {
  width: calc(100vw - 49.5rem);
  background: transparent !important;
  border: none !important;
  border-bottom: var(--maz-border-color) solid 1px !important;
}

.dark .m-table-header .m-input-wrapper{
  border-bottom: #4a5565 solid 1px !important;
}

.m-table-wrapper {
  border: none !important;
}

td.m-table-cell{
  font-size: 1rem !important;
}

tr.m-table-row:hover{
  background-color: var(--color-blue-50) !important;
}

.dark tr.m-table-row:hover{
  background-color: #181821 !important;
}

.m-stepper__content{
  border-color: var(--maz-color-primary-alpha-20) !important;
  border-left-width: 2px !important;
}

.m-stepper__header:not(.--is-current-step) + .m-stepper__content.--no-border {
  border-color: transparent !important;
}

.m-stepper__header{
  border-color: var(--maz-color-primary-alpha-20) !important;
  border-width: 2px !important;
  background-color: var(--ui-bg) !important;
}
.m-stepper__header:hover{
  background-color: var(--maz-color-primary-alpha-05) !important;
}

/* Overriding Nuxt UI styles */

span[role="slider"].ring-inverted {
  --tw-ring-color: #b3b9c0;
}

.dark span[role="slider"].ring-inverted {
  --tw-ring-color: #737373;
}

/*
  Cursors by GeorgiosNexus (Light cursors) & AKGAMER (Dark cursors)
  http://www.rw-designer.com/cursor-set/windows-11-light-theme
  http://www.rw-designer.com/cursor-set/windows-11-dark-theme
*/

textarea,
label,
html {
  cursor: url(/Quokka/cursors/light-Point.cur),
    auto !important;
}

span[role="slider"],
.clickable,
button,
input,
a {
  cursor: url(/Quokka/cursors/light-Click.cur),
    auto !important;
}

.dark textarea,
.dark label,
html.dark {
  cursor: url(/Quokka/cursors/dark-Point.cur),
    auto !important;
}

.dark span[role="slider"],
.dark .clickable,
.dark button,
.dark input,
.dark a {
  cursor: url(/Quokka/cursors/dark-Click.cur),
    auto !important;
}

/* Other */


.ScrollBlur {
  &:before {
    content: "";
    inset: 0;
    display: block;
    backdrop-filter: blur(2px) saturate(1.2);
    mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    position: fixed;
    top: 3rem;
    left: 0rem;
    height: 2.5rem;
    z-index: 1;
    width: 100vw;
    pointer-events: none;
  }

  &:after {
    content: "";
    display: block;
    -webkit-backdrop-filter: blur(1px) saturate(1.2);
    backdrop-filter: blur(2px) saturate(1.2);
    -webkit-mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    height: 2rem;
    z-index: 0;
    width: 100vw;
    pointer-events: none;
  }
}

.text-fit {
  display: flex;
  container-type: inline-size;

  --captured-length: initial;
  --support-sentinel: var(--captured-length, 9999px);

  & > [aria-hidden] {
    visibility: hidden;
  }

  & > :not([aria-hidden]) {
    flex-grow: 1;
    container-type: inline-size;

    --captured-length: 100cqi;
    --available-space: var(--captured-length);

    & > * {
      --support-sentinel: inherit;
      --captured-length: 100cqi;
      --ratio: tan(atan2(
        var(--available-space),
        var(--available-space) - var(--captured-length)
      ));
      --font-size: clamp(
        1em,
        1em * var(--ratio),
        var(--max-font-size, infinity * 1px)
        -
        var(--support-sentinel)
      );
      inline-size: var(--available-space);

      &:not(.text-fit) {
        display: block;
        font-size: var(--font-size);

        @container (inline-size > 0) {
          white-space: nowrap;
        }
      }

      &.text-fit {
        --captured-length2: var(--font-size);
        font-variation-settings:
          'opsz'
          tan(atan2(var(--captured-length2), 1px));
      }
    }
  }
}

@property --captured-length {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --captured-length2 {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}