@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

*{
  transition: 200ms all;
  scroll-behavior: smooth;
  scrollbar-color: gray transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb{
  border-radius: 360px;
}

.varela {
  font-family: "Varela Round", sans-serif;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.dark video,
.dark img{
  filter: brightness(0.8);
}

.dark img.dark\:invert-100{
  filter: invert(100);
}