<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Varela Round"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=M PLUS Rounded 1c"
      rel="stylesheet" />
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />
    <title>Quokka</title>
    <meta
      name="description"
      content="A customizable keystroke launcher with plugins" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://raw.githubusercontent.com/Faeq-F/Quokka/main/Config/Resources/SearchIcon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--Scroll library-->
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script>
    <link
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/windows-ui-fabric@4.0.2/dist/config/app-config.css"
      rel="stylesheet"
      crossorigin="anonymous" />
    <link
      href="https://cdn.jsdelivr.net/npm/windows-ui-fabric@4.0.2/dist/windows-ui.min.css"
      rel="stylesheet"
      crossorigin="anonymous" />

    <link
      rel="stylesheet"
      href="styles/Main.css" />

    <link
      rel="stylesheet"
      href="styles/Plugins.css" />
    <link
      rel="stylesheet"
      href="styles/header.css" />
    <link
      rel="stylesheet"
      href="styles/home.css" />
    <link
      rel="stylesheet"
      href="styles/gradButtons.css" />
    <link
      rel="stylesheet"
      href="styles/DarkTheme.css" />
    <link
      rel="stylesheet"
      href="styles/FAQ.css" />
    <link
      rel="stylesheet"
      href="styles/Documentation.css" />
    <link
      rel="stylesheet"
      href="styles/Carousel.css" />
    <link
      rel="stylesheet"
      href="styles/Tables.css" />
  </head>
  <body>
    <div id="top">
      <p style="color: transparent">.</p>
    </div>

    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <header
      id="header"
      class="hidemee">
      <nav>
        <ul class="navbar">
          <li class="headerLink">
            <a
              href="#top"
              onclick="lenis.scrollTo('#top')"
              style="padding-right: 0">
              <img
                src="Resources/QuokkaTextLogo.svg"
                height="32px" />
            </a>
            <span id="headerPipe"></span>
          </li>
          <li class="headerLink">
            <a
              href="#top"
              onclick="lenis.scrollTo('#top')">
              <span class="headerText">Home</span>
            </a>
          </li>
          <li class="headerLink">
            <a
              href="#Plugins"
              onclick="lenis.scrollTo('#Plugins')">
              <span class="headerText">Plugins</span>
            </a>
          </li>
          <li class="headerLink">
            <a
              href="#FAQ"
              onclick="lenis.scrollTo('#FAQ')">
              <span class="headerText">FAQ</span>
            </a>
          </li>
          <li class="headerLink">
            <a
              href="#DocumentationCard"
              onclick="lenis.scrollTo('#DocumentationCard')">
              <span class="headerText">Documentation</span>
            </a>
          </li>
          <li class="headerLink right-li connectButton">
            <a href="https://github.com/Faeq-F/Quokka/releases/latest">
              <button class="app-btn app-btn-primary">
                Download Latest Release
              </button>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div
      id="HomeView"
      class="hidemee">
      <p id="title">
        <strong>Quokka</strong
        ><br style="display: block; content: ''; margin-top: -4%" />
        <span style="font-size: medium; font-weight: bold"
          >A customizable keystroke launcher with plugins</span
        >
        <br style="display: block; content: ''; margin-top: -2%" />
        <span style="display: inline-block">
          <a href="https://github.com/Faeq-F/Quokka">
            <button class="app-btn">
              <i data-feather="github"></i><span>View Repository</span>
            </button>
          </a>
        </span>
        <span style="display: inline-block">
          <a href="https://github.com/Faeq-F/Quokka/releases/latest">
            <button class="app-btn app-btn-primary">
              <i data-feather="download"></i
              ><span>Download Latest Release</span>
            </button>
          </a>
        </span>
        <br style="display: block; content: ''; margin-top: -5%" />

        <span style="position: inherit">
          <input
            id="themeSlider"
            class="slider__input"
            type="range"
            role="slider"
            value="288"
            min="0"
            max="360"
            id="hue" />
          <input
            id="themeSwitch"
            class="switch__input"
            type="checkbox"
            role="switch" />
        </span>
      </p>
      <div
        class="card aboutCard"
        data-aos="fade-down">
        <div id="homeGalleryContainer">
          <input
            type="radio"
            name="position"
            class="app-radio-button"
            checked />
          <input
            type="radio"
            name="position"
            class="app-radio-button" />
          <input
            type="radio"
            name="position"
            class="app-radio-button" />
          <input
            type="radio"
            name="position"
            class="app-radio-button" />
          <input
            type="radio"
            name="position"
            class="app-radio-button" />
          <div id="homeGallery">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="https://raw.githubusercontent.com/Faeq-F/faeq-f.github.io/master/Resources/scrollDown.gif"
      id="HomeScrollImg" />

    <div id="Plugins">
      <section>
        <aside>
          <div
            class="ag-timeline_title-box"
            data-aos="fade-up-right"
            style="margin-bottom: 0; padding-bottom: 0">
            <div class="ag-timeline_title">Plugins</div>
          </div>
          <div
            class="card"
            data-aos="fade-up-right"
            style="padding-top: 0">
            <p
              class="PortfolioWorkHeader"
              style="font-size: 1.17em">
              Screenshots for selected plugin:
            </p>
            <div
              id="PluginScreenshotsGrid"
              data-lenis-prevent></div>
            <img
              src="https://raw.githubusercontent.com/Faeq-F/faeq-f.github.io/master/Resources/scrollDown.gif"
              id="PortfolioScrollImg" />
          </div>
        </aside>

        <div
          class="content"
          data-aos="fade-up-left">
          <p class="PortfolioWorkHeader">Recognized plugins:</p>
          <div
            style="text-align: center"
            id="PluginCards">
            <button class="ProjectCard">
              <div>
                <p class="PluginName">
                  <i
                    data-feather="box"
                    class="app-color-primary"></i>
                  Installed Apps
                </p>
                <p class="PluginDesc">Launch apps installed on your machine</p>
                <div class="PluginButtonGroup">
                  <a
                    class="SiteButton"
                    title="Visit site"
                    href="https://github.com/Faeq-F/Quokka">
                    <i
                      data-feather="link-2"
                      class="app-color-primary"></i>
                  </a>
                  <p class="DeveloperName">Developed by Faeq</p>
                  <a
                    class="SiteButton"
                    title="Download"
                    href="https://github.com/Faeq-F/Quokka">
                    <i
                      data-feather="download"
                      class="app-color-primary"></i>
                  </a>
                </div>
              </div>
            </button>

            <button class="ProjectCard">
              <div>
                <p class="PluginName">
                  <i
                    data-feather="box"
                    class="app-color-primary"></i>
                  Portable Apps
                </p>
                <p class="PluginDesc">
                  Launch portable applications stored in a given directory
                </p>
                <div class="PluginButtonGroup">
                  <a
                    class="SiteButton"
                    title="Visit site"
                    href="https://github.com/Faeq-F/Quokka">
                    <i
                      data-feather="link-2"
                      class="app-color-primary"></i>
                  </a>
                  <span class="DeveloperName">Developed by Faeq</span>
                  <a
                    class="SiteButton"
                    title="Download"
                    href="https://github.com/Faeq-F/Quokka">
                    <i
                      data-feather="download"
                      class="app-color-primary"></i>
                  </a>
                </div>
              </div>
            </button>

            <button class="ProjectCard">
              <div>
                <p class="PluginName">
                  <i
                    data-feather="box"
                    class="app-color-primary"></i>
                  Everything
                </p>
                <p class="PluginDesc">
                  Search through and find files and folders; requires the
                  <a
                    href="https://www.voidtools.com/"
                    style="
                      font-style: oblique;
                      font-weight: bold;
                      color: oklch(0.5 0.2 var(--hue));
                    ">
                    Everything
                  </a>
                  service to be running
                </p>
                <div class="PluginButtonGroup">
                  <a
                    class="SiteButton"
                    title="Visit site"
                    href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                    <i
                      data-feather="link-2"
                      class="app-color-primary"></i>
                  </a>
                  <p class="DeveloperName">Developed by Faeq</p>
                  <a
                    class="SiteButton"
                    title="In Development">
                    <i
                      data-feather="download"
                      class="app-color-primary"></i>
                  </a>
                </div>
              </div></button
            ><button class="ProjectCard">
              <div>
                <p class="PluginName">
                  <i
                    data-feather="box"
                    class="app-color-primary"></i>
                  Power Commands
                </p>
                <p class="PluginDesc">
                  Shutdown, restart, set to sleep, sign out of and lock your PC
                </p>
                <div class="PluginButtonGroup">
                  <a
                    class="SiteButton"
                    title="Visit site"
                    href="https://github.com/Faeq-F/Quokka">
                    <i
                      data-feather="link-2"
                      class="app-color-primary"></i>
                  </a>
                  <p class="DeveloperName">Developed by Faeq</p>
                  <a
                    class="SiteButton"
                    title="In Development">
                    <i
                      data-feather="download"
                      class="app-color-primary"></i>
                  </a>
                </div>
              </div></button
            ><button class="ProjectCard">
              <div>
                <p class="PluginName">
                  <i
                    data-feather="box"
                    class="app-color-primary"></i>
                  Calculator
                </p>
                <p class="PluginDesc">Calculate of mathematical expressions</p>
                <div class="PluginButtonGroup">
                  <a
                    class="SiteButton"
                    title="Visit site"
                    href="https://github.com/Faeq-F/Quokka-Calculator-Plugin">
                    <i
                      data-feather="link-2"
                      class="app-color-primary"></i>
                  </a>
                  <p class="DeveloperName">Developed by Faeq</p>
                  <a
                    class="SiteButton"
                    title="In Development">
                    <i
                      data-feather="download"
                      class="app-color-primary"></i>
                  </a>
                </div>
              </div></button
            ><button class="ProjectCard">
              <div>
                <p class="PluginName">
                  <i
                    data-feather="box"
                    class="app-color-primary"></i>
                  English Dictionary
                </p>
                <p class="PluginDesc">
                  Find denotations for words in the English (US) language
                </p>
                <div class="PluginButtonGroup">
                  <a
                    class="SiteButton"
                    title="Visit site"
                    href="https://github.com/Faeq-F/Quokka">
                    <i
                      data-feather="link-2"
                      class="app-color-primary"></i>
                  </a>
                  <p class="DeveloperName">Developed by Faeq</p>
                  <a
                    class="SiteButton"
                    title="In Development">
                    <i
                      data-feather="download"
                      class="app-color-primary"></i>
                  </a>
                </div>
              </div>
            </button>

            <p
              style="
                color: var(--primary);
                text-shadow: 3px 1px 3px oklch(1 0 0);
              ">
              Please support all developers!
            </p>
          </div>

          <h2 style="color: transparent">Title 1</h2>
          <h4 style="color: transparent">Subheading</h4>
          <p style="color: transparent">Text</p>
          <h4 style="color: transparent">Subheading</h4>
          <p style="color: transparent">Text</p>
          <h4 style="color: transparent">Subheading</h4>
          <p style="color: transparent">Text</p>
        </div>
      </section>
    </div>

    <div id="FAQ">
      <div
        class="ag-timeline_title-box"
        data-aos="fade-down">
        <div class="ag-timeline_title">Frequently asked Questions</div>
      </div>
      <div
        class="card"
        data-aos="fade-down">
        <div class="app-accordion">
          <div
            class="app-accordion-header"
            data-win-toggle="collapse"
            data-win-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne">
            <div class="app-accordion-title">
              <span>How do you monetize the application?</span>
            </div>
          </div>
          <div
            class="app-accordion-panel"
            id="collapseOne">
            <p>
              I don't, though I may in future. I will only generate revenue from
              this software in a way that doesn't compromise user privacy.
            </p>
          </div>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">How do you monetize the application?</span>
        </button>
        <div class="collapsibleContent">
          <p>
            I don't, though I may in future. I will only generate revenue from
            this software in a way that doesn't compromise user privacy.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text"
            >How do I set the app to run at startup automatically?</span
          >
        </button>
        <div class="collapsibleContent">
          <p>
            There are two ways, the second providing slightly more control:<br /><br />You
            can create a shortcut to the .exe file of the app (right click to
            show context menu ➤ click 'Show more options' ➤ click 'Create
            shortcut') and copy it to the following directory;
            "C:\Users\USERNAME\AppData\Roaming\Microsoft\Windows\Start
            Menu\Programs\Startup\", where 'USERNAME' is your Windows profile
            name.<br /><br />or you can create a task for the program in Task
            scheduler;<br />Follow a guide to create a basic task, like the
            following
            <a
              href="https://www.windowscentral.com/how-create-automated-task-using-task-scheduler-windows-10"
              >guide to create an automated task by Mauro Huculak on Windows
              Central</a
            >.<br />You will want to set it to start 'When I log on' and give
            'Quokka.exe' (located in the root of the program folder) as the
            program. You do not need to add any arguments.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 3</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 4</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 5</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 6</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <footer id="Documentation">
      <div
        id="DocumentationCard"
        class="ContactCard"
        data-aos="fade-down">
        <div class="container-divs">
          <div class="row-divs">
            <div
              id="cd-1"
              class="col-div col-div-flex border-div">
              <button id="DocsHeaderButton">Documentation</button>
              <div
                id="DocsNav"
                data-lenis-prevent>
                <ul>
                  <li><button>Installation</button></li>
                  <li><button>How to use</button></li>
                  <ul>
                    <li><span>⤷</span><button>Tray task</button></li>
                    <li><span>⤷</span><button>Plugins</button></li>
                    <li><span>⤷</span><button>Special commands</button></li>
                  </ul>
                  <li><button>Settings</button></li>
                  <ul>
                    <li><span>⤷</span><button>Themes</button></li>
                    <li><span>⤷</span><button>Defaults</button></li>
                  </ul>
                  <li><button>Building the app</button></li>
                  <li><button>API Documentation</button></li>
                  <li><button>Creating a plugin</button></li>
                  <ul>
                    <li>
                      <span>⤷</span><button>Creating a new item type</button>
                    </li>
                    <li>
                      <span>⤷</span><button>Creating a context pane</button>
                    </li>
                    <li><span>⤷</span><button>Creating the plugin</button></li>
                  </ul>
                  <li><button>FAQ by Developers</button></li>
                </ul>
              </div>
            </div>
            <div
              id="cd-2"
              class="col-div col-div-flex border-div">
              <div
                id="DocsContent"
                data-lenis-prevent></div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div
      id="bottom"
      style="position: fixed; bottom: 0">
      <p style="color: transparent">.</p>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="scripts/Gallery.js"></script>
    <script src="scripts/header.js"></script>
    <script src="scripts/ScrollFade.js"></script>
    <script src="scripts/HueRotate.js"></script>
    <script src="scripts/Docs.js"></script>
    <script src="scripts/FAQ.js"></script>
    <script src="scripts/windows-ui.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace({ "stroke-width": 2.5, width: 16, height: 16 });
      const colorScheme = Appearance.getColorScheme();
      if (colorScheme === "dark") {
        Appearance.setDarkScheme();
      } else {
        Appearance.setLightScheme();
      }
    </script>
    <script>
      //Issues with font but need for gecko based browsers to reliably change
      // function themeChangeHandler() {
      //   var queryString = "?reload=" + new Date().getTime();
      //   $('link[rel="stylesheet"]').each(function () {
      //     this.href = this.href.replace(/\?.*|$/, queryString);
      //   });
      // }
      // document
      //   .querySelector("#themeSwitch")
      //   .addEventListener("change", themeChangeHandler);
    </script>
  </body>
</html>
