<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Varela Round"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=M PLUS Rounded 1c"
      rel="stylesheet" />
    <meta charset="utf-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1" />
    <title>Quokka</title>
    <meta
      name="description"
      content="A customizable keystroke launcher with plugins" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://raw.githubusercontent.com/Faeq-F/Quokka/main/Config/Resources/SearchIcon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!--Scroll library-->
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.29/bundled/lenis.min.js"></script>
    <link
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link
      rel="stylesheet"
      href="styles/Main.css" />
    <link
      rel="stylesheet"
      href="styles/About.css" />
    <link
      rel="stylesheet"
      href="styles/Plugins.css" />
    <link
      rel="stylesheet"
      href="styles/header.css" />
    <link
      rel="stylesheet"
      href="styles/home.css" />
    <link
      rel="stylesheet"
      href="styles/gradButtons.css" />
    <link
      rel="stylesheet"
      href="styles/DarkTheme.css" />
    <link
      rel="stylesheet"
      href="styles/FAQ.css" />
    <link
      rel="stylesheet"
      href="styles/Documentation.css" />
    <link
      rel="stylesheet"
      href="styles/Carousel.css" />
    <link
      rel="stylesheet"
      href="styles/Tables.css" />
  </head>
  <body>
    <div id="top">
      <p style="color: transparent">.</p>
    </div>

    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <header
      id="header"
      class="hidemee">
      <nav>
        <ul class="navbar">
          <li class="headerLink">
            <a
              href="#top"
              onclick="lenis.scrollTo('#top')">
              <span class="headerText">Home</span>
            </a>
          </li>
          <li class="headerLink">
            <a
              href="#Plugins"
              onclick="lenis.scrollTo('#Plugins')">
              <span class="headerText">Plugins</span>
            </a>
          </li>
          <li class="headerLink">
            <a
              href="#FAQ"
              onclick="lenis.scrollTo('#FAQ')">
              <span class="headerText">FAQ</span>
            </a>
          </li>
          <li class="headerLink">
            <a
              href="#DocumentationCard"
              onclick="lenis.scrollTo('#DocumentationCard')">
              <span class="headerText">Documentation</span>
            </a>
          </li>
          <li class="headerLink right-li connectButton">
            <a
              href="#top"
              onclick="lenis.scrollTo('#top')"
              style="padding-right: 0">
              <img
                src="Resources/QuokkaTextLogo.svg"
                height="32px" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <div
      id="HomeView"
      class="hidemee">
      <p id="title">
        <strong>Quokka</strong
        ><br style="display: block; content: ''; margin-top: -4%" />
        <span style="font-size: medium; font-weight: bold"
          >A customizable keystroke launcher with plugins<br
        /></span>
        <span style="display: inline-block">
          <a href="https://github.com/Faeq-F/Quokka/releases/latest">
            <button
              class="button-64"
              role="button">
              <span class="text">Download Latest Release</span>
            </button>
          </a>
        </span>
        <span style="display: inline-block">
          <a href="https://github.com/Faeq-F/Quokka">
            <button
              class="button-64"
              role="button">
              <span class="text">View Repository</span>
            </button>
          </a> </span
        ><br />
        <span style="position: inherit">
          <input
            id="themeSlider"
            class="slider__input"
            type="range"
            role="slider"
            value="288"
            min="0"
            max="360"
            id="hue" />
          <input
            id="themeSwitch"
            class="switch__input"
            type="checkbox"
            role="switch" />
        </span>
      </p>
      <div
        class="card aboutCard"
        data-aos="fade-down">
        <div id="#AboutScreenshots">
          <div class="carousel-container">
            <ul class="carousel my-carousel">
              <input
                class="carousel__activator"
                type="radio"
                id="A"
                name="activator"
                checked="checked" />
              <input
                class="carousel__activator"
                type="radio"
                id="B"
                name="activator" />
              <input
                class="carousel__activator"
                type="radio"
                id="C"
                name="activator" />
              <input
                class="carousel__activator"
                type="radio"
                id="D"
                name="activator" />
              <input
                class="carousel__activator"
                type="radio"
                id="E"
                name="activator" />
              <div class="carousel__controls">
                <label
                  class="carousel__control carousel__control--backward"
                  for="E"></label
                ><label
                  class="carousel__control carousel__control--forward"
                  for="B"></label>
              </div>
              <div class="carousel__controls">
                <label
                  class="carousel__control carousel__control--backward"
                  for="A"></label
                ><label
                  class="carousel__control carousel__control--forward"
                  for="C"></label>
              </div>
              <div class="carousel__controls">
                <label
                  class="carousel__control carousel__control--backward"
                  for="B"></label
                ><label
                  class="carousel__control carousel__control--forward"
                  for="D"></label>
              </div>
              <div class="carousel__controls">
                <label
                  class="carousel__control carousel__control--backward"
                  for="C"></label
                ><label
                  class="carousel__control carousel__control--forward"
                  for="E"></label>
              </div>
              <div class="carousel__controls">
                <label
                  class="carousel__control carousel__control--backward"
                  for="D"></label
                ><label
                  class="carousel__control carousel__control--forward"
                  for="A"></label>
              </div>
              <li class="carousel__slide"></li>
              <li class="carousel__slide"></li>
              <li class="carousel__slide"></li>
              <li class="carousel__slide"></li>
              <li class="carousel__slide"></li>
            </ul>
            <div class="carousel__indicators">
              <label
                class="carousel__indicator"
                for="A"></label>
              <label
                class="carousel__indicator"
                for="B"></label>
              <label
                class="carousel__indicator"
                for="C"></label>
              <label
                class="carousel__indicator"
                for="D"></label>
              <label
                class="carousel__indicator"
                for="E"></label>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
    <img
      src="https://raw.githubusercontent.com/Faeq-F/faeq-f.github.io/master/Resources/scrollDown.gif"
      id="HomeScrollImg" />
    <div id="Plugins">
      <section>
        <aside>
          <div
            class="ag-timeline_title-box"
            data-aos="fade-up-right"
            style="margin-bottom: 0; padding-bottom: 0">
            <div class="ag-timeline_title">Plugins</div>
          </div>
          <div
            class="card"
            data-aos="fade-up-right">
            <p
              class="PortfolioWorkHeader"
              style="font-size: 1.17em">
              Screenshots for selected plugin:
            </p>
            <div
              id="PluginScreenshotsGrid"
              data-lenis-prevent></div>
            <img
              src="https://raw.githubusercontent.com/Faeq-F/faeq-f.github.io/master/Resources/scrollDown.gif"
              id="PortfolioScrollImg" />
          </div>
        </aside>

        <div
          class="content"
          data-aos="fade-up-left">
          <p class="PortfolioWorkHeader">Recognized plugins:</p>
          <div
            style="text-align: center"
            id="PluginCards">
            <button class="ProjectCard">
              <p class="PluginName">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  height="16px"
                  width="20px">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z" />
                </svg>
                Installed Apps
              </p>
              <p class="PluginDesc">Launch apps installed on your machine</p>
              <div class="PluginButtonGroup">
                <a
                  class="SiteButton"
                  title="Visit site"
                  href="https://github.com/Faeq-F/Quokka">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="20"
                    viewBox="0 0 640 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                      d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                  </svg>
                </a>
                <p class="DeveloperName">Developed by Faeq</p>
                <a
                  class="SiteButton"
                  title="Download"
                  href="https://github.com/Faeq-F/Quokka">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="16px"
                    width="20px">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" />
                  </svg>
                </a>
              </div>
            </button>
            <button class="ProjectCard">
              <p class="PluginName">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  height="16px"
                  width="20px">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z" />
                </svg>
                Portable Apps
              </p>
              <p class="PluginDesc">
                Launch portable applications stored in a given directory
              </p>
              <div class="PluginButtonGroup">
                <a
                  class="SiteButton"
                  title="Visit site"
                  href="https://github.com/Faeq-F/Quokka">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="20"
                    viewBox="0 0 640 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                      d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                  </svg>
                </a>
                <p class="DeveloperName">Developed by Faeq</p>
                <a
                  class="SiteButton"
                  title="Download"
                  href="https://github.com/Faeq-F/Quokka">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="16px"
                    width="20px">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z" />
                  </svg>
                </a>
              </div>
            </button>
            <button class="ProjectCard">
              <p class="PluginName">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  height="16px"
                  width="20px">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z" />
                </svg>
                Everything
              </p>
              <p class="PluginDesc">
                Search through and find files and folders; requires the
                <a
                  href="https://www.voidtools.com/"
                  style="font-style: oblique; font-weight: bold; color: #000">
                  Everything
                </a>
                service to be running
              </p>
              <div class="PluginButtonGroup">
                <a
                  class="SiteButton"
                  title="Visit site"
                  href="https://github.com/Faeq-F/Quokka-Everything-Plugin">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="20"
                    viewBox="0 0 640 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                      d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                  </svg>
                </a>
                <p class="DeveloperName">Developed by Faeq</p>
                <a
                  class="SiteButton"
                  title="In Development">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="16px"
                    width="20px">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                  </svg>
                </a>
              </div>
            </button>
            <button class="ProjectCard">
              <p class="PluginName">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  height="16px"
                  width="20px">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z" />
                </svg>
                Power Commands
              </p>
              <p class="PluginDesc">
                Shutdown, restart, set to sleep, sign out of and lock your PC
              </p>
              <div class="PluginButtonGroup">
                <a
                  class="SiteButton"
                  title="Visit site"
                  href="https://github.com/Faeq-F/Quokka">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="20"
                    viewBox="0 0 640 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                      d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                  </svg>
                </a>
                <p class="DeveloperName">Developed by Faeq</p>
                <a
                  class="SiteButton"
                  title="In Development">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="16px"
                    width="20px">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                  </svg>
                </a>
              </div>
            </button>
            <button class="ProjectCard">
              <p class="PluginName">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  height="16px"
                  width="20px">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z" />
                </svg>
                Calculator
              </p>
              <p class="PluginDesc">Calculate of mathematical expressions</p>
              <div class="PluginButtonGroup">
                <a
                  class="SiteButton"
                  title="Visit site"
                  href="https://github.com/Faeq-F/Quokka-Calculator-Plugin">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="20"
                    viewBox="0 0 640 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                      d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                  </svg>
                </a>
                <p class="DeveloperName">Developed by Faeq</p>
                <a
                  class="SiteButton"
                  title="In Development">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="16px"
                    width="20px">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                  </svg>
                </a>
              </div>
            </button>
            <button class="ProjectCard">
              <p class="PluginName">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                  height="16px"
                  width="20px">
                  <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                  <path
                    d="M96 0C78.3 0 64 14.3 64 32v96h64V32c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32v96h64V32c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32v32c0 77.4 55 142 128 156.8V480c0 17.7 14.3 32 32 32s32-14.3 32-32V412.8C297 398 352 333.4 352 256V224c17.7 0 32-14.3 32-32s-14.3-32-32-32H32z" />
                </svg>
                English Dictionary
              </p>
              <p class="PluginDesc">
                Find denotations for words in the English (US) language
              </p>
              <div class="PluginButtonGroup">
                <a
                  class="SiteButton"
                  title="Visit site"
                  href="https://github.com/Faeq-F/Quokka">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="16"
                    width="20"
                    viewBox="0 0 640 512">
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                    <path
                      d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                  </svg>
                </a>
                <p class="DeveloperName">Developed by Faeq</p>
                <a
                  class="SiteButton"
                  title="In Development">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    height="16px"
                    width="20px">
                    <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                      d="M152.1 38.2c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 113C-2.3 103.6-2.3 88.4 7 79s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zm0 160c9.9 8.9 10.7 24 1.8 33.9l-72 80c-4.4 4.9-10.6 7.8-17.2 7.9s-12.9-2.4-17.6-7L7 273c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l22.1 22.1 55.1-61.2c8.9-9.9 24-10.7 33.9-1.8zM224 96c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zm0 160c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H256c-17.7 0-32-14.3-32-32zM160 416c0-17.7 14.3-32 32-32H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-17.7 0-32-14.3-32-32zM48 368a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
                  </svg>
                </a>
              </div>
            </button>
            <p
              style="
                color: var(--primary);
                text-shadow: 3px 1px 3px oklch(1 0 0);
              ">
              Please support all developers!
            </p>
          </div>

          <h2 style="color: transparent">Title 1</h2>
          <h4 style="color: transparent">Subheading</h4>
          <p style="color: transparent">Text</p>
          <h4 style="color: transparent">Subheading</h4>
          <p style="color: transparent">Text</p>
          <h4 style="color: transparent">Subheading</h4>
          <p style="color: transparent">Text</p>
        </div>
      </section>
    </div>

    <div id="FAQ">
      <div
        class="ag-timeline_title-box"
        data-aos="fade-down">
        <div class="ag-timeline_title">Frequently asked Questions</div>
      </div>
      <div
        class="card"
        data-aos="fade-down">
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">How do you monetize the application?</span>
        </button>
        <div class="collapsibleContent">
          <p>
            I don't, though I may in future. I will only generate revenue from
            this software in a way that doesn't compromise user privacy.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text"
            >How do I set the app to run at startup automatically?</span
          >
        </button>
        <div class="collapsibleContent">
          <p>
            There are two ways, the second providing slightly more control:<br /><br />You
            can create a shortcut to the .exe file of the app (right click to
            show context menu ➤ click 'Show more options' ➤ click 'Create
            shortcut') and copy it to the following directory;
            "C:\Users\USERNAME\AppData\Roaming\Microsoft\Windows\Start
            Menu\Programs\Startup\", where 'USERNAME' is your Windows profile
            name.<br /><br />or you can create a task for the program in Task
            scheduler;<br />Follow a guide to create a basic task, like the
            following
            <a
              href="https://www.windowscentral.com/how-create-automated-task-using-task-scheduler-windows-10"
              >guide to create an automated task by Mauro Huculak on Windows
              Central</a
            >.<br />You will want to set it to start 'When I log on' and give
            'Quokka.exe' (located in the root of the program folder) as the
            program. You do not need to add any arguments.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 3</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 4</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 5</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
        <button
          class="collapsible button-64"
          role="button">
          <span class="text">Question 6</span>
        </button>
        <div class="collapsibleContent">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>
    </div>

    <footer id="Documentation">
      <div
        id="DocumentationCard"
        class="ContactCard"
        data-aos="fade-down">
        <div class="container-divs">
          <div class="row-divs">
            <div
              id="cd-1"
              class="col-div col-div-flex border-div">
              <button id="DocsHeaderButton">Documentation</button>
              <div
                id="DocsNav"
                data-lenis-prevent>
                <ul>
                  <li><button>Installation</button></li>
                  <li><button>How to use</button></li>
                  <ul>
                    <li><span>⤷</span><button>Tray task</button></li>
                    <li><span>⤷</span><button>Plugins</button></li>
                    <li><span>⤷</span><button>Special commands</button></li>
                  </ul>
                  <li><button>Settings</button></li>
                  <ul>
                    <li><span>⤷</span><button>Themes</button></li>
                    <li><span>⤷</span><button>Defaults</button></li>
                  </ul>
                  <li><button>Building the app</button></li>
                  <li><button>API Documentation</button></li>
                  <li><button>Creating a plugin</button></li>
                  <ul>
                    <li>
                      <span>⤷</span><button>Creating a new item type</button>
                    </li>
                    <li>
                      <span>⤷</span><button>Creating a context pane</button>
                    </li>
                    <li><span>⤷</span><button>Creating the plugin</button></li>
                  </ul>
                  <li><button>FAQ by Developers</button></li>
                </ul>
              </div>
            </div>
            <div
              id="cd-2"
              class="col-div col-div-flex border-div">
              <div
                id="DocsContent"
                data-lenis-prevent></div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div
      id="bottom"
      style="position: fixed; bottom: 0">
      <p style="color: transparent">.</p>
    </div>

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <script src="scripts/cursor.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="scripts/Gallery.js"></script>
    <script src="scripts/header.js"></script>
    <script src="scripts/ScrollFade.js"></script>
    <script src="scripts/HueRotate.js"></script>
    <script src="scripts/Docs.js"></script>
    <script src="scripts/FAQ.js"></script>
    <script>
      //Issues with font but need for gecko based browsers to reliably change
      // function themeChangeHandler() {
      //   var queryString = "?reload=" + new Date().getTime();
      //   $('link[rel="stylesheet"]').each(function () {
      //     this.href = this.href.replace(/\?.*|$/, queryString);
      //   });
      // }
      // document
      //   .querySelector("#themeSwitch")
      //   .addEventListener("change", themeChangeHandler);
    </script>
  </body>
</html>
