<div class="DocsCard">
  Quokka requires the following:
  <br />
  <br />
  A computer running Windows 7 or higher
  <br />
  A Windows defender exclusion for the location of the exe
  <br />
  <br />
  Add exclusions to any other anti-malware software that is installed on your
  computer;<br />you do not want the software to mistake the app for viruses or
  other malware
</div>
<div class="DocsCard">
  To install:
  <br />
  <br />
  Go to the top of this page and click on the 'Download Latest Release' button
  <br />
  <br />
  Download the 'Quokka.zip' file & extract it's contents
  <br />
  <br />
  You will want to extract / move the folder to an appropriate location. Quokka
  is a portable program by design, meaning that you can place the folder on a
  external storage medium (e.g. a USB drive) and run the program from there.
  Please see the suggestions below for an appropriate location of the folder.
</div>

<div class="DocsCard">
  Suggestions:
  <br />
  <br />
  If you do not wish to use the program in a portable manner, I suggest placing
  the folder in 'C:\Program Files', and creating a shortcut that is pinned to
  the taskbar and / or start menu. You may also want to set up a task to run the
  program at startup in Task Scheduler
</div>
