#About {
  /*height 90 vh*/
  width: 100vw;
  margin-bottom: 10vh;
}

.aboutCard {
  min-height: 50vh;
  height: fit-content;
}

@media(max-width: 661px) {
  .card.aboutCard {
    margin: 0 auto;
  }
}