#About {
  /*height 90 vh*/
  width: 100vw;
  padding-bottom: 10vh;
  background-image: linear-gradient(56deg, #f5f7fa 0%, #c3cfe2 100%);
}

.aboutCard {
  min-height: 50vh;
  height: fit-content;
  min-height: 37vh !important;
}

@media(max-width: 661px) {
  .card.aboutCard {
    margin: 0 auto;
  }
}