#About {
  /*height 90 vh*/
  width: 100vw;
  padding-bottom: 10vh;
  background-image: linear-gradient(56deg, #f5f7fa 0%, #c3cfe2 100%);
}

.aboutCard {
  height: fit-content;
  min-height: 37vh !important;
  top: 15%;
  position: absolute;
  z-index: 3;
  padding-right: 0;
  width: 85vw;
  right: 2.5vw;
}

@media(max-width: 661px) {
  .card.aboutCard {
    margin: 0 auto;
  }
}