/*Button in navbar*/

@keyframes loading {
    0% {
        cy: 10;
    }

    25% {
        cy: 3;
    }

    50% {
        cy: 10;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #f4f7ff;
}

canvas {
    height: 10vh;
    pointer-events: none;
    position: absolute;

    z-index: 9999999999;
    right: 4.7vw;
    top: 0vh;
}

#LetsConnectButton {
    background: none;
    border: none;
    color: #2c2c2cd5;

    font-family: sans-serif;
    font-size: 2.3vh;
    font-weight: bold;
    height: 40px;
    outline: none;
    overflow: hidden;

    position: absolute;
    right: 50px;
    top: 2.7vh;

    width: 190px;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

#LetsConnectButton::before {
    background: transparent;
    border-radius: 50px;
    content: '';
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    transition: width 0.2s cubic-bezier(0.39, 1.86, 0.64, 1) 0.3s;
    width: 100%;
}

#LetsConnectButton.ready .submitMessage svg {
    opacity: 1;
    top: 1px;
    transition: top 0.4s ease 600ms, opacity 0.3s linear 600ms;
}

#LetsConnectButton.ready .submitMessage .button-text span {
    top: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--dr) + 600ms);
}

#LetsConnectButton.loading::before {
    transition: width 0.3s ease;
    width: 80%;
}

#LetsConnectButton.loading .loadingMessage {
    opacity: 1;
}

#LetsConnectButton.loading .loadingCircle {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
    cy: 10;
}

#LetsConnectButton.complete .submitMessage svg {
    top: -30px;
    transition: none;
}

#LetsConnectButton.complete .submitMessage .button-text span {
    top: -8px;
    transition: none;
}

#LetsConnectButton.complete .loadingMessage {
    top: 80px;
}

#LetsConnectButton.complete .successMessage .button-text span {
    left: 0;
    opacity: 1;
    transition: all 0.2s ease calc(var(--d) + 1000ms);
}

#LetsConnectButton.complete .successMessage svg {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s ease-in-out 1.4s;
}

.button-text span {
    opacity: 0;
    position: relative;
}

.message {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.message svg {
    display: inline-block;
    fill: none;
    margin-right: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

.submitMessage .button-text span {
    top: 8px;
    transition: all 0.2s ease var(--d);
}

.loadingMessage {
    opacity: 0;
    transition: opacity 0.3s linear 0.3s, top 0.4s cubic-bezier(0.22, 0, 0.41, -0.57);
}

.successMessage .button-text span {
    left: 5px;
    transition: all 0.2s ease var(--dr);
}

.loadingCircle:nth-child(2) {
    animation-delay: 0.1s;
}

.loadingCircle:nth-child(3) {
    animation-delay: 0.2s;
}

/* Footer contact section styles */

footer {
    margin: 0 auto;
    text-align: center;
    height: 90vh;
    width: 100vw;
}

.ContactCard {
    height: 60vh;
    min-width: 80%;
    max-width: 90%;
    width: 80%;
    margin: 20vh auto 0;
    text-align: center;
    padding: 2rem;
    line-height: 1.45;
    font-size: 16px;
    color: #2c2c2cd5;
    background: linear-gradient(125deg, var(--primary), var(--primaryOther));
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    -o-transition: -o-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.ConnectTagline {
    color: #f2f4f8 !important;
    text-align: left;
    font-size: medium !important;
}

.ConnectTitle {
    font-size: 11vw !important;
    background-image: none;
    color: #f2f4f8 !important;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media(max-width: 661px) {
    footer {
        width: 95vw;
    }

    .ContactCard {
        height: 20vh;
    }

    .ConnectTagline {
        margin-top: 0;
        font-size: medium !important;
    }

    .ConnectTitle {
        font-size: xx-large !important;
    }
}

.SButtons {
    display: inline-flex;
}

.SocialLink {
    margin: 10px auto 0;
}

.ag-timeline_title-box.ConnectTitleBox {
    padding: 0;
}

@media(max-width: 661px) {

    .SocialLink {
        margin-top: 0;
    }

    .SocialBtn {
        height: fit-content !important;
        margin-top: 20px;
    }

    a.SocialLink strong svg {
        height: 48px;
        width: 48px;
    }

    a.SocialLink {
        margin: 0 2.5vw;
    }
}

svg:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
}

/*The below was modified from https://uiverse.io/StealthWorm/spotty-horse-48
original creator Copyright - 2023 StealthWorm (thierry) - MIT License*/

.SocialBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 999px;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 6px;
}

.SocialBtn strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 5vw;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}


.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}


.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #6d53fe88;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #8653feaf;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}