/*
Cursors by GeorgiosNexus (Light cursors) & AKGAMER (Dark cursors)
http://www.rw-designer.com/cursor-set/windows-11-light-theme
http://www.rw-designer.com/cursor-set/windows-11-dark-theme
*/

.flowchart-link,
.flowchart-operator,
textarea,
label,
html {
  cursor: url(../Resources/LightPoint.cur),
    auto !important;
}


.app-navbar-name,
.app-navbar-header,
.app-range-slider input[type="range"]::-webkit-slider-thumb,
.app-range-slider input[type="range"]::-moz-range-thumb,
.input-btn-default,
.app-accordion-title,
button,
.app-btn,
.app-dropdown-title,
.app-select-menu select,
.app-switch>.app-switch-view,
input,
.app-navbar-submenu .app-navbar-submenu-title,
a {
  cursor: url(../Resources/LightClick.cur),
    auto !important;
}


body:has(.switch__input:not(:checked)) .flowchart-link,
body:has(.switch__input:not(:checked)) .flowchart-operator,
body:has(.switch__input:not(:checked)) textarea,
body:has(.switch__input:not(:checked)) label,
html body:has(.switch__input:not(:checked)) {
  cursor: url(../Resources/DarkPoint.cur),
    auto !important;
}

body:has(.switch__input:not(:checked)) .app-navbar-name,
body:has(.switch__input:not(:checked)) .app-navbar-header,
body:has(.switch__input:not(:checked)) .app-range-slider input[type="range"]::-webkit-slider-thumb,
body:has(.switch__input:not(:checked)) .app-range-slider input[type="range"]::-moz-range-thumb,
body:has(.switch__input:not(:checked)) .input-btn-default,
body:has(.switch__input:not(:checked)) .app-accordion-title,
body:has(.switch__input:not(:checked)) button,
body:has(.switch__input:not(:checked)) .app-btn,
body:has(.switch__input:not(:checked)) .app-dropdown-title,
body:has(.switch__input:not(:checked)) .app-select-menu select,
body:has(.switch__input:not(:checked)) .app-switch>.app-switch-view,
body:has(.switch__input:not(:checked)) input,
body:has(.switch__input:not(:checked)) .app-navbar-submenu .app-navbar-submenu-title,
body:has(.switch__input:not(:checked)) a {
  cursor: url(../Resources/DarkClick.cur),
    auto !important;
}


.app-navbar-toggler,
.flowchart-operator .flowchart-operator-title,
#flowchart {
  cursor: url(../Resources/move.cur),
    auto !important;
}