body:has(.switch__input:not(:checked)) *,
*:has(.switch__input:not(:checked)) {
  scrollbar-color: var(--primary) rgb(13, 11, 7) !important;
}

body:has(.switch__input:not(:checked)) {
  background: #000;

}

body:has(.switch__input:not(:checked)) header.sticky img {
  filter: invert(0.9);
}

body:has(.switch__input:not(:checked)) header.sticky #headerPipe::before {
  border-left: 2px solid #ddd;
}

body:has(.switch__input:not(:checked)) header.sticky {
  background-color: #111;
  background-image: none;
  border: 1px solid #2e2e2e
}

body:has(.switch__input:not(:checked)) #header.sticky>nav>ul>li>a>span {
  color: #ddd;
}

body:has(.switch__input:not(:checked)) #HomeView {
  background: linear-gradient(180deg, oklch(0.9 0.1 var(--hue)) 0%, #000 95%);
}

body:has(.switch__input:not(:checked)) #HomeView #homeGalleryContainer {
  filter: brightness(0.95);
}


body:has(.switch__input:not(:checked)) #HomeView #title {
  color: #ddd;
}

body:has(.switch__input:not(:checked)) #Plugins section div #PortfolioScrollImg,
body:has(.switch__input:not(:checked)) #HomeScrollImg {
  filter: invert(1);
}

body:has(.switch__input:not(:checked)) #Plugins section div p.PortfolioWorkHeader,
body:has(.switch__input:not(:checked)) #Plugins section aside div p.PortfolioWorkHeader {
  color: #ddd;
}

body:has(.switch__input:not(:checked)) .grid-item {
  opacity: 0.8
}

body:has(.switch__input:not(:checked)) div.DocsCard:nth-child(2)>img:nth-child(2),
body:has(.switch__input:not(:checked)) .carousel__slide,
body:has(.switch__input:not(:checked)) #Plugins section div #PluginScreenshotsGrid .modal-window {
  filter: brightness(0.8);
}

body:has(.switch__input:not(:checked)) .DocsCard {
  background: #1a1a1a;
  color: #ddd;
}

body:has(.switch__input:not(:checked)) #PluginCards>p {
  text-shadow: 1px 1px 0px #000000 !important;
}

body:has(.switch__input:not(:checked)) .DocsCard {
  background-color: #000;
  border-color: #2e2e2e;
}

body:has(.switch__input:not(:checked)) #themesContainer .card,
body:has(.switch__input:not(:checked)) .app-navbar-wrap,
body:has(.switch__input:not(:checked)) .card,
body:has(.switch__input:not(:checked)) .ProjectCard {
  background: #111;
  border-color: #2e2e2e;
}

body:has(.switch__input:not(:checked)) .app-accordion-panel {
  border: 1px solid rgb(75, 75, 75);
  color: #ddd;
}

body:has(.switch__input:not(:checked)) .app-navbar-wrap .app-navbar-header,
body:has(.switch__input:not(:checked)) .app-navbar-wrap nav {
  background-color: transparent;
}

body:has(.switch__input:not(:checked)) #DocsContent {
  background-color: #111;
  border-color: #2e2e2e;
}

body:has(.switch__input:not(:checked)) #themesContainer .PortfolioWorkHeader,
body:has(.switch__input:not(:checked)) #DocsNav ul li span,
body:has(.switch__input:not(:checked)) #NavBarMain {
  color: #ddd;
}

body:has(.switch__input:not(:checked)) #chart_container {
  background: black;
}

body:has(.switch__input:not(:checked)) .app-navbar-header:hover {
  background-color: #2d2d2d;
}