#Documentation {
  height: 90vh;
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  display: flex;
}

#DocsContent::-webkit-scrollbar-thumb,
#DocsNav::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #fff;
}

#DocsContent {

  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background: #f9f9f9;
}

#DocsNav {
  background: transparent;
  border-radius: 10px;
  max-height: 80vh;
  width: 100%;
  font-size: medium;
  font-weight: normal;
  height: 96%;
}

.DocsCard {
  margin: 10px;
  padding: 10px;
  text-align: left;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background: #fff;
  animation: fadeIn 400ms;
}

#DocsHeader {
  padding: 10%;
}

#DocsNav ul {
  max-height: 80vh;
  list-style-type: none;
  list-style-position: outside;
  text-align: left;
  margin-top: 0;
}

#DocsNav ul li {
  list-style: none;
}

#DocsNav ul li span {
  color: #2c2c2cd5;
  font-size: large;
}

#DocsNav ul li button {
  background: transparent;
  border-radius: 10px;
  color: #2c2c2cd5;
  border: 0;
  padding: 5px;
  margin: 5px;
  font-weight: 500;

}

#DocsNav ul li button:active {
  box-shadow: rgba(255, 255, 255, 0.2) 0 15px 30px -5px;
}

#DocsHeaderButton {
  background: transparent;
  border: 0;
  color: #2c2c2cd5 !important;
  text-align: left;
  font-weight: bolder;
  font-size: 90% !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

#Documentation blockquote {
  margin: 0;
  margin-top: 0px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: small;
  border-left: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
  width: 90%;
  border-bottom-left-radius: 15px;

  margin-top: -10px;
  height: 30px;
  padding-top: 10px;
}

.app-navbar-wrap {
  height: fit-content;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background: #f9f9f9;
}

.app-navbar-wrap .app-navbar-toggler,
.app-navbar-submenu .app-navbar-submenu-title,
.app-navbar-wrap .app-navbar-list .app-navbar-list-item,
.app-navbar-wrap nav,
.app-navbar-wrap .app-navbar-header {
  border-radius: 15px
}

.app-navbar-wrap .app-navbar-list .app-navbar-list-item a {
  font-style: normal
}

.app-navbar-header:hover {
  background-color: #e8e8e8;
}

#Documentation textarea:disabled {
  height: 40vh;
  width: 90%;
  font-family: cascadia code;
  border-radius: 10px;
  border: 1px solid #bbb;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 661px) {
  #Documentation {
    display: none;
  }
}