.button-64 {

    align-items: center;
    background-image: linear-gradient(144deg, var(--primary), var(--primaryOther));
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #2c2c2cd5;
    display: flex;
    font-family: Phantomsans, sans-serif;

    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 50px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: #f2f4f8;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button-64:hover span {
    background: none;
    color: #fff;
}

@media (max-width: 661px) {
    .button-64 {
        font-size: 13px;
        font-weight: bold;
    }
}

@media (min-width: 660px) {
    .button-64 {
        font-size: 15px;
        min-width: 150px;
        font-weight: bold;
    }
}