@font-face {
    font-family: "Cascadia Code Regular";
    src: url("../Resources/CascadiaCode-Regular.woff2") format('woff2');
}

#HomeView {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin-bottom: 10vh;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

#title {
    position: absolute;
    top: 35%;
    left: 7.5%;
    float: left;
    z-index: 1;
    color: #2c2c2cd5;
    font-size: 45px;
    font-family: sans-serif;
    line-height: normal;
}

.gradient {
    top: 25%;
    position: absolute;
    left: 57%;
    z-index: 3;
    --size: 35vw;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(var(--primaryOther), var(--primary));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

#IDE {
    top: 20%;
    position: absolute;
    left: 50%;
    z-index: 3;
    box-shadow: rgba(255, 255, 255, 0.1) 5px 5px 5px -1px, rgba(0, 0, 0, 0.3) 5px 5px 5px -5px;
    border-radius: 15px;
}

#IDEmenu {
    width: 45vw;
    height: 2vh;
    background: rgba(255, 255, 255, 0.4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#IDEmenu::after,
#IDEbody::before {
    padding: 5px;
    color: #696969a3;
    top: -0.7vh;
    position: absolute;
}

#IDEmenu::after {
    content: "\25C9 \2000 \25C9 \2000 \25C9";
    left: 1.3vw;
}

#IDEbody::before {
    content: "\2003 File \2003 Edit \2003 Selection \2003 View \2003 Go \2003 Run \2003 Terminal \2003 Help";
    left: 5vw;
    top: -0.4vh;
    font-size: small;
}

#IDEbody {
    width: 45vw;
    height: 60vh;
    background: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#IDEtype {
    margin-left: 10px;
    padding-top: 5px;
}

#codeContainer {
    overflow: hidden;
}

#code {
    color: var(--primary);
    font-weight: normal;
    font-size: medium;
    opacity: 0.5;
    font-family: "Cascadia Code Regular";
}

@media screen and (max-width: 1000px) {
    .gradient {
        visibility: hidden !important;
    }

    #IDE {
        visibility: hidden !important;
    }
}

.bConnect {
    margin: 0;
    border-radius: 15px;
    float: right;

}