html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

/* Scrolling generally with lenis */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

#top {
  position: absolute;
  top: 0;
}

* {
  transition: all 0.25s ease-out;
  font-family: "Varela Round";

}

* a {

  font-style: oblique;
  font-weight: normal;
  color: oklch(0.5 0.2 var(--hue));
}

:root {
  --hue: 265;
  --primary: oklch(0.9 0.2 var(--hue));
  --otherColorHue: calc(var(--hue) - 20);
  --primaryOther: oklch(90% .2 var(--otherColorHue));
  /* Fluent UI*/
  --PrimaryColor: oklch(0.6 0.2 var(--hue));
  --PrimaryColorLight: var(--primaryOther);
  --width-navbar-expanded: 340px;
}

#HomeScrollImg {
  position: absolute;
  top: 90vh;
  width: 3vw;
  left: 50%;
  transform: translate(-50%, 0);
}

/* width */
::-webkit-scrollbar {
  width: 7px;

}

/* Track */
::-webkit-scrollbar-track {

  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {

  border-radius: 360px;
  box-shadow: inset 0 0 10px 10px var(--primary);
  border: solid 2px transparent;
}

/* Gecko (firefox) based browsers */
* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--primary) rgb(242, 244, 248) !important;
}

/*Style for mobile view*/
@media (max-width: 661px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  ::-webkit-scrollbar-track {
    width: 0;
  }

  ::-webkit-scrollbar-thumb {
    width: 0;
  }
}

.card {
  width: 70%;
  max-width: 95%;
  margin: 0 auto 300px auto;
  text-align: center;
  padding: 2rem;
  line-height: 1.45;
  font-size: 16px;
  text-shadow: 1px 1px 10px #0000002e;
  color: #2d2d2dad;
  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background: #f9f9f9;
}

a[href],
a[href]:link,
a[href]:active,
a[href]:visited {
  text-decoration: none;
  filter: saturate(2) brightness(1);
}

a[href]:hover {
  color: var(--primary) !important;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.ag-timeline_title-box {
  padding: 0 0 30px;
  text-align: center;
}

.ag-timeline_title {
  background-image: linear-gradient(125deg, oklch(0.5 0.2 var(--hue)), var(--primaryOther));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 80px;
  filter: saturate(3);
  text-shadow: 4px -2px 7px oklch(0 0 0 / 0.17);
  font-family: "M PLUS Rounded 1c";
}

@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 7vw;
  }
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
  font-family: monospace;
}

code {
  font-family: monospace;
}

.app-accordion-title::after {
  content: " \f10c";
  font-family: icons10;
}

.app-accordion-panel {
  border: 1px solid rgb(234, 234, 234);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-top: 2px;
}

.app-range-slider input[type="range"] {
  width: 100% !important;
  margin: 0;
}

.app-range-slider {
  top: -10px;
}

.app-switch>.app-switch-view::before {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  display: block;
  content: '';
  border-radius: 18px;
  transition: 200ms;
  will-change: translate;
  background: var(--color-text-default);
}

.app-table-view-container {
  border-radius: 15px;
}