#Plugins {
  width: 100vw;
  padding-bottom: 10vh;
  background-image: linear-gradient(56deg, #f5f7fa 0%, #c3cfe2 100%);
}

aside {
  height: 90vh;
  width: 60vw;
  margin-left: -0.5em;
  position: sticky;
  z-index: 9;
  top: 12em;
  left: 0;
  background-color: transparent;
}

.current-menu-item {
  background-color: white;
  font-weight: bold;
}


/* scroll content styling */

.content {
  position: relative;
  margin-left: 50vw;
  font-size: 28px;
  padding: 0em 0.5em;
  margin-top: -50%;
}

.ProjectCard {
  display: inline-grid;
  margin: 10px;
  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
  width: 27vw;
  height: fit-content;
  padding: 20px;
}

@media (max-width: 661px) {
  .ProjectCard {
    width: 90%;
  }
}

.PluginName {
  font-size: large;

  font-weight: 600;

  text-align: left;
  line-height: 1.45;
  margin: 0;
  /* margin-left: 20px;
  margin-top: 20px; */
}

.PluginName svg {
  margin-right: 5px;
}

.ProjectCard {
  background-image: linear-gradient(56deg, #d1dae9, #c9d4e5);
  border: 1px solid #888;
  border-radius: 15px;
  color: #000000cc;
  box-shadow: 1px 3px 4px 1px #00000012;

}

.PluginDesc {
  font-size: medium;


  text-align: left;
  margin: 10px;
  height: 5vh;
  overflow-y: auto;
}

.SiteButton {
  flex: 0;

  border: 0;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  color: var(--primaryPlugins) !important;
  place-self: flex-end;
}

.PluginButtonGroup {
  display: flex;
  height: fit-content;
}

.DeveloperName {
  flex: 1;
  margin: 0;
  padding: 0;
  font-size: small;
  text-align: start;
  margin-left: 10px;

}

@media (max-width: 661px) {
  aside {
    height: 90vh;
    width: 100vw;
    margin-left: 0;
    position: relative;
    background-color: transparent;
    overflow: visible;
  }

  .content {
    margin-left: 0;
    font-size: 28px;
    padding: 0em 0em;
    overflow: hidden;
    margin-top: 30%;
    margin-bottom: -70%;
  }
}

.PortfolioWorkHeader {
  font-size: 0.7em;
  color: #2c2c2cd5;
  font-weight: bold;
  text-align: center;
  line-height: 1.45;
  margin-top: 0;
  padding-top: 0;
}

#PortfolioScrollImg {
  width: 3vw;
  margin-top: -1vh;
}

/* new Grid */
:root {
  --pri: #ffffff;
  --sec: #212121;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

.grid-item:hover {
  transform: scale(1.02);
}

.grid-container {
  display: grid;
  /*grid-template-columns: repeat(2, 20vh);*/
  grid-template-rows: repeat(18, 12vw);
  gap: 23px;
  padding: 0px;
  margin: 20px;
  grid-auto-flow: dense;
}

@media(max-width: 661px) {
  .grid-container {
    grid-template-rows: repeat(11, 42vw);
  }

  #PluginScreenshotsGrid {
    height: 77% !important;
  }
}

@media (min-width: 600px) {
  /* .wide {
    grid-column: span 2;
    grid-row: span 2;
  } */

  .tall {
    grid-row: span 2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.fadeIn {
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.3s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.3s;
}

/* MODAL */
input.modal-launcher {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  opacity: 0;
  display: none;
}

input.modal-launcher:checked {
  position: fixed;
  width: 30px;
  height: 30px;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 3;
  left: inherit;
  display: block;
}

.modal-window {
  position: fixed;
  z-index: 700;
  border-radius: 5px;
  display: none;
  top: 50%;
  transform: translate(0vw, -60%);
  width: 80vw;
  height: 80vh;
  /*overflow: hidden;*/
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

#PluginScreenshotsGrid {

  height: 87%;
  overflow-y: scroll;
  min-height: 424px;
  border-radius: 10px;
}

.modal-overlay {
  background: #f2f4f8;
  position: absolute;
  left: -5vw;
  top: -38vh;
  z-index: 600;
  width: 100vw;
  height: 110vh;
  display: none;
}

.modal-overlay:before {
  content: "";
  position: fixed;
  width: 1em;
  height: 1em;
  right: 30px;
  top: 30px;
  border-radius: 2px;
}

/*/002B*/
.modal-overlay:after {
  content: "";
  position: fixed;
  width: 0.8em;
  height: 0.8em;
  right: 30px;
  top: 30px;
  color: #333;
  font-size: 1.25em;
  line-height: 0.85em;
  text-align: center;
  transform: rotate(45deg);

}

input.modal-launcher:checked~.modal-window,
input.modal-launcher:checked~.modal-window+.modal-overlay {
  display: block;
}

.grid-item label {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}


.grid-item label span {
  padding: 2px 8px;
  border-radius: 2px;
  color: var(--sec);
  background: var(--pri);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  position: absolute;
  right: 10px;
  bottom: 10px;
}


.grid-item label:hover span {
  transition: all 0.35s ease 0s;
  opacity: 1;
}