#Plugins {
  width: 100vw;
  padding-bottom: 10vh;
}

#Plugins aside {
  height: 90vh;
  width: 60vw;
  margin-left: -0.5em;
  position: sticky;
  z-index: 9;
  top: 12em;
  left: 0;
  background-color: transparent;
}

.content {
  position: relative;
  margin-left: 50vw;
  font-size: 28px;
  padding: 0em 0.5em;
  margin-top: -50%;
}

.ProjectCard {
  display: inline;
  margin: 10px;
  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
  width: 27vw;
  height: fit-content;
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background: #f9f9f9;
}

.ProjectCard>div {
  background-image: linear-gradient(125deg, oklch(0.6 0.2 var(--hue)), var(--primaryOther));
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 0px #1a1a1a38;
  filter: saturate(3);
}

.ProjectCard:hover {
  transform: scale(1.02);
}

@media (max-width: 661px) {
  .ProjectCard {
    width: 90%;
  }
}

.PluginName {
  font-size: large;
  font-weight: 600;
  text-align: left;
  line-height: 1.45;
  margin: 0;

}

.PluginName svg {
  margin-right: 5px;
  filter: brightness(0.8);
}

.PluginDesc {
  font-size: medium;
  text-align: left;
  margin: 10px;
  height: 5vh;
  overflow-y: auto;
}

.SiteButton {
  flex: 0;
  border: 0;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  margin-right: 5px;
  color: var(--primaryPlugins) !important;
  place-self: flex-end;
}

.PluginButtonGroup {
  display: flex;
  height: fit-content;
}

.DeveloperName {
  margin: 0;
  padding: 0;
  font-size: small;
  text-align: start;
}

.codeLink svg:nth-of-type(2) {
  height: 16px;
  width: 20px;
}

.codeLink svg:nth-of-type(2) {
  height: 10px;
  width: 10px;
  position: relative;
  right: 7px;
  bottom: -5px;
}

@media (max-width: 661px) {
  aside {
    display: none;
  }

  .content {
    margin-left: 0;
    font-size: 28px;
    padding: 0em 0em;
    overflow: hidden;
    margin-top: 30%;
    margin-bottom: -70%;
  }
}

.PortfolioWorkHeader {
  font-size: 0.7em;
  color: #2c2c2cd5;
  font-weight: bold;
  text-align: center;
  line-height: 1.45;
  margin-top: 0;
  padding-top: 0;
}

#PortfolioScrollImg {
  width: 3vw;
  margin-top: -1vh;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  transform: scale(1.02);
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(18, 12vw);
  gap: 23px;
  padding: 0px;
  margin: 20px;
  grid-auto-flow: dense;
}

@media(max-width: 661px) {
  .grid-container {
    grid-template-rows: repeat(11, 42vw);
  }

  #PluginScreenshotsGrid {
    height: 77% !important;
  }
}

#PluginScreenshotsGrid {
  height: 40vh;
  overflow-y: scroll;
  min-height: 424px;
  border-radius: 10px;
}

.grid-item label {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.PluginButtonGroup a {
  font-style: inherit;
  font-weight: inherit;
}