/* Global variables */

:root {
    /*--------------------------------*/
    --containerWidth: 35%;
    --containerY: 150px;
    --containerX: 495px;
    --containerBgColor2: #00000000;
    --containerBgColor1: #00000000;
    --containerBgColorDirection: 90deg;
    --containerCornerRadius: 15px;
    --containerTopBorder: #000000;
    --containerRightBorder: #000000;
    --containerBottomBorder: #000000;
    --containerLeftBorder: #000000;
    --containerTopBorderStyle: solid;
    --containerRightBorderStyle: solid;
    --containerBottomBorderStyle: solid;
    --containerLeftBorderStyle: solid;
    --containerTopBorderWidth: 0px;
    --containerRightBorderWidth: 0px;
    --containerBottomBorderWidth: 0px;
    --containerLeftBorderWidth: 0px;
    --containerShadowBlur: 5px;
    --containerShadowWidth: 1px;
    --containerShadow: #00000000;
    /*--------------------------------*/
    --searchBarWidth: 100%;
    --searchBarHeight: 50px;
    --searchBarBgColor1: #76d3d3;
    --searchBarBgColor2: #a673f7;
    --searchBarBgColorDirection: 90deg;
    --searchBarCornerRadius: 360px;
    --searchBarItemListSpacing: 10px;
    --searchBarTopBorder: #000000;
    --searchBarRightBorder: #000000;
    --searchBarBottomBorder: #000000;
    --searchBarLeftBorder: #000000;
    --searchBarTopBorderStyle: solid;
    --searchBarRightBorderStyle: solid;
    --searchBarBottomBorderStyle: solid;
    --searchBarLeftBorderStyle: solid;
    --searchBarTopBorderWidth: 0px;
    --searchBarRightBorderWidth: 0px;
    --searchBarBottomBorderWidth: 0px;
    --searchBarLeftBorderWidth: 0px;
    --searchBarShadow: #73f7e6;
    --searchBarShadowBlur: 5px;
    --searchBarShadowWidth: 1px;
    /*--------*/
    --searchBarIconSize: 50px;
    --SearchBarIconTop: 5px;
    --SearchBarIconRight: 0px;
    --SearchBarIconBottom: 0px;
    --SearchBarIconLeft: 10px;
    --SearchBarIconBrightness: 100%;
    --SearchBarIconContrast: 100%;
    --SearchBarIconGrayScale: 100%;
    --SearchBarIconHue: 0deg;
    --SearchBarIconInvert: 100%;
    --SearchBarIconOpacity: 100%;
    --SearchBarIconSaturate: 1;
    --SearchBarIconSepia: 0%;
    --SearchBarTextPaddingIcon: 60px;
    /*--------*/
    --searchBarTextSize: 16px;
    --searchBarTextAlign: left;
    --UIShadowSize: 0px;
    --UIShadowColor: #000;
    --PlaceBorderColor: #000;
    --PlaceBorderSize: 0px;
    --PlaceShadowSize: 0px;
    --PlaceShadowColor: #000;
    --PlaceholderText: #e0e0e0;
    --UIBorderColor: #000;
    --UIBorderSize: 0px;
    --SearchBarUI: #FFFFFF;
    /*--------------------------------*/
    --ItemListHeight: 500px;
    --ItemListWidth: 100%;
    --ItemListShadow: #73f7e6;
    --ItemListShadowBlur: 5px;
    --ItemListShadowWidth: 1px;
    --ItemListTopBorder: #000000;
    --ItemListRightBorder: #000000;
    --ItemListBottomBorder: #000000;
    --ItemListLeftBorder: #000000;
    --ItemListTopBorderStyle: solid;
    --ItemListRightBorderStyle: solid;
    --ItemListBottomBorderStyle: solid;
    --ItemListLeftBorderStyle: solid;
    --ItemListTopBorderWidth: 0px;
    --ItemListRightBorderWidth: 0px;
    --ItemListBottomBorderWidth: 0px;
    --ItemListLeftBorderWidth: 0px;
    --ItemSpacing: 16px;
    /*--------*/
    --ItemBgColor1: #76d3d3;
    --ItemBgColor2: #a673f7;
    --ItemBgColorDirection: 90deg;
    --ItemHoverBG: #00000022;
    --ItemHoverBgWidth: 90%;
    --ItemCornerRadius: 15px;
    --ItemTextContainerSize: 89.5%;
    /*--------*/
    --ItemIconSize: 50px;
    --ItemIconContainerSize: 70px;
    --ItemIconPaddingTop: 10px;
    --ItemIconPaddingRight: 0;
    --ItemIconPaddingBottom: 0px;
    --ItemIconPaddingLeft: 10px;
    --ItemIconBrightness: 100%;
    --ItemIconContrast: 100%;
    --ItemIconGrayScale: 100%;
    --ItemIconHue: 0deg;
    --ItemIconInvert: 100%;
    --ItemIconOpacity: 100%;
    --ItemIconSaturate: 1;
    --ItemIconSepia: 0%;
    /*--------*/
    --TitleSize: 150%;
    --TitleColor1: #FFFFFF;
    --TitleColor2: #FFFFFF;
    --TitleColorDirection: 0deg;
    --TitleAlign: left;
    --TitlePaddingTop: 10px;
    --TitlePaddingRight: 0;
    --TitlePaddingBottom: 0px;
    --TitlePaddingLeft: 0;
    --TitleBorderColor: #000;
    --TitleBorderSize: 0px;
    --TitleShadowSize: 0px;
    --TitleShadowColor: #000;
    /*--------*/
    --SubtitleSize: 80%;
    --SubtitleColor1: #FFFFFF;
    --SubtitleColor2: #FFFFFF;
    --SubtitleColorDirection: 0deg;
    --SubtitleAlign: left;
    --SubtitlePaddingTop: 0px;
    --SubtitlePaddingRight: 0;
    --SubtitlePaddingBottom: 10px;
    --SubtitlePaddingLeft: 0;
    --SubtitleBorderColor: #000;
    --SubtitleBorderSize: 0px;
    --SubtitleShadowSize: 0px;
    --SubtitleShadowColor: #000;
    /*--------*/
    --separatorColor1: #FFFFFF;
    --separatorColor2: #ffffff;
    --separatorColorDirection: 0deg;
    --separatorHeight: 3px;
    --separatorWidth: 97%;
    --separatorCornerRadius: 360px;
    --separatorMarginTop: 0;
    --separatorMarginRight: auto;
    --separatorMarginBottom: 0;
    --separatorMarginLeft: auto;
    /*--------*/
    --scrollbarWidth: 15px;
    --scrollbarThumbColor: #00000000;
    --scrollbarTrackShadow: rgba(0, 0, 0, 0.5);
    --scrollbarTrackShadowWidth: 6px;
    --scrollbarThumbShadow: rgba(0, 0, 0, 0.5);
    --scrollbarThumbShadowWidth: 6px;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "SearchBarFontFamily";
    src: url("../Fonts/SearchBarFontFamily.otf");
}

@font-face {
    font-family: "TitleFontFamily";
    src: url("../Fonts/TitleFontFamily.otf");
}

@font-face {
    font-family: "SubtitleFontFamily";
    src: url("../Fonts/SubtitleFontFamily.otf");
}

#searchWrapper {
    font-family: "SearchBarFontFamily"
}

.firstItem {
    font-family: "TitleFontFamily"
}

.secondItem {
    font-family: "SubtitleFontFamily"
}


/* Scrollbar styling */

::-webkit-scrollbar {
    width: var(--scrollbarWidth)
}


/* Track styles */

::-webkit-scrollbar-track {
    /* Shadow */
    -webkit-box-shadow: inset 0 0 var(--scrollbarTrackShadowWidth) var(--scrollbarTrackShadow);
    box-shadow: inset 0 0 var(--scrollbarTrackShadowWidth) var(--scrollbarTrackShadow);
    /* bg color */
    background: var(--ItemBgColor2);
    /* Round Corners */
    border-radius: 0 var(--ItemCornerRadius) var(--ItemCornerRadius) 0;
}


/* Thumb styles */

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    /* round corners */
    border-radius: 0 var(--ItemCornerRadius) var(--ItemCornerRadius) 0;
    background-clip: padding-box;
    /* Shadow */
    -webkit-box-shadow: inset 0 0 var(--scrollbarThumbShadowWidth) var(--scrollbarThumbShadow);
    box-shadow: inset 0 0 var(--scrollbarThumbShadowWidth) var(--scrollbarThumbShadow);
}

::placeholder {
    color: var(--PlaceholderText);
    -webkit-text-stroke-width: var(--PlaceBorderSize);
    -webkit-text-stroke-color: var(--PlaceBorderColor);
}


/* area Div to allow list of items to be scrolled */

#scrollArea {
    /* When program starts, do not show the list as user has not typed anything */
    display: none;
    /* Dimensions of list area */
    width: var(--ItemListWidth);
    height: fit-content;
    max-height: var(--ItemListHeight);
    /* Show overflow vertically as list can be scrolled through */
    overflow-y: auto;
    /* Do not show horizontal overflow */
    overflow-x: hidden;
    /* transparent bg so item list bg is only shown */
    background: #00000000;
    background-image: linear-gradient( var(--ItemBgColorDirection), var(--ItemBgColor1), var(--ItemBgColor2));
    box-shadow: 0 0 var(--ItemListShadowBlur) var(--ItemListShadowWidth) var(--ItemListShadow);
    border-radius: var(--ItemCornerRadius);
}

li.selected .itemWrapper {
    background: var(--ItemHoverBG);
}

li .itemWrapper:hover:not(.header) {
    cursor: Pointer;
    background: var(--ItemHoverBG);
}

HTML * {
    box-sizing: border-box;
    max-height: 100%;
    max-width: 100%;
    font-family: var(--fontFamily);
}

.draggable {
    -webkit-app-region: drag;
}


/* Normal Input field */

.container {
    font-family: var(--fontFamily);
    position: relative;
    width: var(--containerWidth);
    top: var(--containerY);
    left: var(--containerX);
    border-radius: var(--containerCornerRadius);
    background-image: linear-gradient( var(--containerBgColorDirection), var(--containerBgColor1), var(--containerBgColor2));
    box-shadow: 0 0 var(--containerShadowBlur) var(--containerShadowWidth) var(--containerShadow);
}

#searchBar {
    outline: none;
    background: linear-gradient( var(--searchBarBgColorDirection), var(--searchBarBgColor1), var(--searchBarBgColor2));
    background-repeat: no-repeat;
    background-size: cover;
    width: var(--searchBarWidth);
    height: var(--searchBarHeight);
    font-size: var(--searchBarTextSize);
    font-family: var(--SearchBarFontFamily);
    text-align: var(--searchBarTextAlign);
    color: var(--SearchBarUI);
    /* 55px is distance image takes up */
    padding: 12px 20px 12px var(--SearchBarTextPaddingIcon);
    /* Round corners */
    border-radius: var(--searchBarCornerRadius);
    margin-bottom: var(--searchBarItemListSpacing);
    border: var(--searchBarTopBorderWidth) var(--searchBarRightBorderWidth) var(--searchBarBottomBorderWidth) var(--searchBarLeftBorderWidth) var(--searchBarTopBorder) var(--searchBarRightBorder) var(--searchBarBottomBorder) var(--searchBarLeftBorder) var(--ItemListTopBorderStyle) var(--searchBarRightBorderStyle) var(--searchBarBottomBorderStyle) var(--searchBarLeftBorderStyle);
    box-shadow: 0 0 var(--searchBarShadowBlur) var(--searchBarShadowWidth) var(--searchBarShadow);
}

#SearchBarIcon {
    position: absolute;
    padding: var(--SearchBarIconTop) var(--SearchBarIconRight) var(--SearchBarIconBottom) var(--SearchBarIconLeft);
    width: var(--searchBarIconSize);
    height: auto;
    filter: brightness(var(--SearchBarIconBrightness)) contrast(var(--SearchBarIconContrast)) grayscale(var(--SearchBarIconGrayScale)) hue-rotate(var(--SearchBarIconHue)) invert(var(--SearchBarIconInvert)) opacity(var(--SearchBarIconOpacity)) saturate(var(--SearchBarIconSaturate)) sepia(var(--SearchBarIconSepia));
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}


/*the list itself (not the items)*/

#itemList {
    padding-inline-start: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /* Round corners */
    display: list;
}

hr {
    height: var(--separatorHeight);
    border-width: 0;
    color: var(--separator);
    background: -webkit-linear-gradient( var(--separatorColorDirection), var(--separatorColor1), var(--separatorColor2));
    /* Round corners */
    border-radius: var(--separatorCornerRadius);
    margin: var(--separatorMarginTop) var(--separatorMarginRight) var(--separatorMarginBottom) var(--separatorMarginLeft);
    max-width: var(--separatorWidth);
}

img {
    padding: var(--ItemIconPaddingTop) var(--ItemIconPaddingRight) var(--ItemIconPaddingBottom) var(--ItemIconPaddingLeft);
    height: auto;
    width: var(--ItemIconSize);
    filter: brightness(var(--ItemIconBrightness)) contrast(var(--ItemIconContrast)) grayscale(var(--ItemIconGrayScale)) hue-rotate(var(--ItemIconHue)) invert(var(--ItemIconInvert)) opacity(var(--ItemIconOpacity)) saturate(var(--ItemIconSaturate)) sepia(var(--ItemIconSepia));
}

.module {
    scroll-behavior: [ smooth];
}

h3 {
    background: -webkit-linear-gradient( var(--SubtitleColorDirection), var(--SubtitleColor1), var(--SubtitleColor2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    font-size: var(--SubtitleSize);
    font-family: var(--SubtitleFontFamily);
    padding: var(--SubtitlePaddingTop) var(--SubtitlePaddingRight) var(--SubtitlePaddingBottom) var(--SubtitlePaddingLeft);
    text-align: var(--SubtitleAlign);
    vertical-align: top;
}

h1 {
    background: -webkit-linear-gradient( var(--TitleColorDirection), var(--TitleColor1), var(--TitleColor2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--TitleSize);
    font-family: var(--TitleFontFamily);
    vertical-align: bottom;
    margin: 0;
    padding: var(--TitlePaddingTop) var(--TitlePaddingRight) var(--TitlePaddingBottom) var(--TitlePaddingLeft);
    text-align: var(--TitleAlign);
}

h5 {
    color: #00000000;
    font-size: var(--ItemSpacing);
    margin: 0;
    padding: 0;
}

.itemWrapper {
    width: var(--ItemHoverBgWidth);
    margin: 0 auto;
    box-sizing: border-box;
    /* Round corners */
    border-radius: var(--ItemCornerRadius);
}

.flexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
}

.firstCol {
    width: var(--ItemIconContainerSize);
    box-sizing: border-box;
    order: 1;
}

.secondCol {
    display: flex;
    /*Add this*/
    width: var(--ItemTextContainerSize);
    box-sizing: border-box;
    overflow-x: hidden;
    word-wrap: anywhere;
    order: 2;
    box-sizing: border-box;
}

.secondCol .innerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.secondCol .innerFlex .firstItem {
    width: 100%;
    align-self: flex-end;
    box-sizing: border-box;
    display: block;
}

.secondCol .innerFlex .secondItem {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    order: 1;
    align-content: bottom;
}

button {
    border-radius: var(--ItemCornerRadius);
    background-color: #00000000;
    color: var(--SubtitleColor1);
    border: var(--SubtitleColor1);
    width: 100%;
    height: 100%;
    font-size: var(--TitleSize);
    text-align: var(--TitleAlign);
    font-family: var(--fontFamily);
}


/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
}
