/* Global variables */

:root {
    /*--------------------------------*/
    --containerWidth: 35%;
    --containerY: 150px;
    --containerX: 495px;
    --containerBgColor2: #00000000;
    --containerBgColor1: #00000000;
    --containerBgColorDirection: 90deg;
    --containerCornerRadius: 15px;
    --containerTopBorder: #000000;
    --containerRightBorder: #000000;
    --containerBottomBorder: #000000;
    --containerLeftBorder: #000000;
    --containerTopBorderStyle: solid;
    --containerRightBorderStyle: solid;
    --containerBottomBorderStyle: solid;
    --containerLeftBorderStyle: solid;
    --containerTopBorderWidth: 0px;
    --containerRightBorderWidth: 0px;
    --containerBottomBorderWidth: 0px;
    --containerLeftBorderWidth: 0px;
    --containerShadowBlur: 5px;
    --containerShadowWidth: 1px;
    --containerShadow: #00000000;
    /*--------------------------------*/
    --searchBarWidth: 100%;
    --searchBarHeight: 50px;
    --searchBarBgColor1: #8cc6c6;
    --searchBarBgColor2: #a673f7;
    --searchBarBgColorDirection: 90deg;
    --searchBarCornerRadius: 360px;
    --searchBarItemListSpacing: 10px;
    --searchBarTopBorder: #000000;
    --searchBarRightBorder: #000000;
    --searchBarBottomBorder: #000000;
    --searchBarLeftBorder: #000000;
    --searchBarTopBorderStyle: solid;
    --searchBarRightBorderStyle: solid;
    --searchBarBottomBorderStyle: solid;
    --searchBarLeftBorderStyle: solid;
    --searchBarTopBorderWidth: 0px;
    --searchBarRightBorderWidth: 0px;
    --searchBarBottomBorderWidth: 0px;
    --searchBarLeftBorderWidth: 0px;
    --searchBarShadow: #73f7e6;
    --searchBarShadowBlur: 5px;
    --searchBarShadowWidth: 1px;
    /*--------*/
    --searchBarIconSize: 50px;
    --SearchBarIconTop: 5px;
    --SearchBarIconRight: 0;
    --SearchBarIconBottom: 0px;
    --SearchBarIconLeft: 10px;
    --SearchBarIconBrightness: 100%;
    --SearchBarIconContrast: 100%;
    --SearchBarIconGrayScale: 100%;
    --SearchBarIconHue: 0deg;
    --SearchBarIconInvert: 100%;
    --SearchBarIconOpacity: 100%;
    --SearchBarIconSaturate: 1;
    --SearchBarIconSepia: 0%;
    --SearchBarTextPaddingIcon: 60px;
    /*--------*/
    --searchBarTextSize: 16px;
    --searchBarTextAlign: left;
    --UIShadowSize: 0px;
    --UIShadowColor: #000;
    --PlaceBorderColor: #000;
    --PlaceBorderSize: 0px;
    --PlaceShadowSize: 0px;
    --PlaceShadowColor: #000;
    --PlaceholderText: #e0e0e0;
    --UIBorderColor: #000;
    --UIBorderSize: 0px;
    --SearchBarUI: #FFFFFF;
    /*--------------------------------*/
    --ItemListHeight: 500px;
    --ItemListWidth: 100%;
    --ItemListShadow: #73f7e6;
    --ItemListShadowBlur: 5px;
    --ItemListShadowWidth: 1px;
    --ItemListTopBorder: #000000;
    --ItemListRightBorder: #000000;
    --ItemListBottomBorder: #000000;
    --ItemListLeftBorder: #000000;
    --ItemListTopBorderStyle: solid;
    --ItemListRightBorderStyle: solid;
    --ItemListBottomBorderStyle: solid;
    --ItemListLeftBorderStyle: solid;
    --ItemListTopBorderWidth: 0px;
    --ItemListRightBorderWidth: 0px;
    --ItemListBottomBorderWidth: 0px;
    --ItemListLeftBorderWidth: 0px;
    --ItemSpacing: 16px;
    /*--------*/
    --ItemBgColor1: #8cc6c6;
    --ItemBgColor2: #a673f7;
    --ItemBgColorDirection: 90deg;
    --ItemHoverBG: #00000022;
    --ItemHoverBgWidth: 90%;
    --ItemCornerRadius: 15px;
    --ItemTextContainerSize: 89.5%;
    /*--------*/
    --ItemIconSize: 50px;
    --ItemIconContainerSize: 70px;
    --ItemIconPaddingTop: 10px;
    --ItemIconPaddingRight: 0;
    --ItemIconPaddingBottom: 0px;
    --ItemIconPaddingLeft: 10px;
    --ItemIconBrightness: 100%;
    --ItemIconContrast: 100%;
    --ItemIconGrayScale: 100%;
    --ItemIconHue: 0deg;
    --ItemIconInvert: 100%;
    --ItemIconOpacity: 100%;
    --ItemIconSaturate: 1;
    --ItemIconSepia: 0%;
    /*--------*/
    --TitleSize: 150%;
    --TitleColor1: #FFFFFF;
    --TitleColor2: #FFFFFF;
    --TitleColorDirection: 0deg;
    --TitleAlign: left;
    --TitlePaddingTop: 10px;
    --TitlePaddingRight: 0;
    --TitlePaddingBottom: 0px;
    --TitlePaddingLeft: 0;
    --TitleBorderColor: #000;
    --TitleBorderSize: 0px;
    --TitleShadowSize: 0px;
    --TitleShadowColor: #000;
    /*--------*/
    --SubtitleSize: 80%;
    --SubtitleColor1: #FFFFFF;
    --SubtitleColor2: #FFFFFF;
    --SubtitleColorDirection: 0deg;
    --SubtitleAlign: left;
    --SubtitlePaddingTop: 0px;
    --SubtitlePaddingRight: 0;
    --SubtitlePaddingBottom: 10px;
    --SubtitlePaddingLeft: 0;
    --SubtitleBorderColor: #000;
    --SubtitleBorderSize: 0px;
    --SubtitleShadowSize: 0px;
    --SubtitleShadowColor: #000;
    /*--------*/
    --separatorColor1: #FFFFFF;
    --separatorColor2: #ffffff;
    --separatorColorDirection: 0deg;
    --separatorHeight: 3px;
    --separatorWidth: 97%;
    --separatorCornerRadius: 360px;
    --separatorMarginTop: 0;
    --separatorMarginRight: auto;
    --separatorMarginBottom: 0;
    --separatorMarginLeft: auto;
    /*--------*/
    --scrollbarWidth: 15px;
    --scrollbarThumbColor: #00000000;
    --scrollbarTrackShadow: rgba(0, 0, 0, 0.5);
    --scrollbarTrackShadowWidth: 6px;
    --scrollbarThumbShadow: rgba(0, 0, 0, 0.5);
    --scrollbarThumbShadowWidth: 6px;
    /*--------*/
}

@font-face {
    font-family: "SearchBarFontFamily";
    src: url("../Fonts/SearchBarFontFamily.otf");
}

@font-face {
    font-family: "TitleFontFamily";
    src: url("../Fonts/TitleFontFamily.otf");
}

@font-face {
    font-family: "SubtitleFontFamily";
    src: url("../Fonts/SubtitleFontFamily.otf");
}

html {
    scroll-behavior: smooth;
    color: var(--SubtitleColor1);
    font-family: "SearchBarFontFamily";
}

#BodyContainer {
    width: 100%;
    color: var(--TitleColor1);
    min-width: 100%;
    position: absolute;
    z-index: 9;
    background-color: #00000000;
    text-align: center;
    margin: 0 auto;
    border-radius: var(--ItemCornerRadius);
}

#handle {
    cursor: move;
    padding: 5px;
    margin: 0 auto;
    z-index: 10;
    width: calc(var(--containerWidth) - 200px);
    min-width: calc(35% - 200px);
    background-image: linear-gradient(var(--searchBarBgColorDirection), var(--searchBarBgColor1), var(--searchBarBgColor2));
    color: var(--SearchBarUI);
    border-radius: var(--ItemCornerRadius);
}

.text {
    text-shadow: 0 1px rgba(0, 0, 0, .4)
}

.outer:not(.active) .text {
    visibility: hidden;
}

button {
    background-color: #00000000;
    border-radius: var(--ItemCornerRadius);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    font-size: var(--TitleSize);
    margin: 5px;
    color: var(--TitleColor1);
    cursor: pointer;
    font-family: "TitleFontFamily";
    padding: 5px
}

li a:hover:not(.active) {
    filter: alpha(opacity=50);
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

#SettingsContainer {
    margin: 0 auto;
    border-radius: var(--ItemCornerRadius);
    border: 0px solid #00000000;
    width: var(--containerWidth);
    padding: 10px;
    overflow-y: hidden;
    resize: both;
}

#settingsBG {
    padding: 40px 0 0 0;
    background-image: linear-gradient(var(--searchBarBgColorDirection), var(--searchBarBgColor1), var(--searchBarBgColor2));
    color: var(--textColor2);
    border-radius: var(--ItemCornerRadius);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid black;
    margin-left: auto;
    margin-right: auto;
}

tr {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: seashell;
    font-weight: bold;
}

a:link {
    color: seashell;
    font-weight: bold;
}

a:visited {
    color: seashell;
    font-weight: bold;
}

a:hover {
    color: rgb(222, 245, 243);
    font-weight: bold;
}

a:active {
    color: seashell;
    font-weight: bold;
}


/* Scrollbar styling */

::-webkit-scrollbar {
    width: var(--scrollbarWidth)
}


/* Track styles */

::-webkit-scrollbar-track {
    /* Shadow */
    -webkit-box-shadow: inset 0 0 var(--scrollbarTrackShadowWidth) var(--scrollbarTrackShadow);
    box-shadow: inset 0 0 var(--scrollbarTrackShadowWidth) var(--scrollbarTrackShadow);
    /* bg color */
    background: var(--ItemBgColor2);
    /* Round Corners */
    border-radius: var(--ItemCornerRadius) 0 0 var(--ItemCornerRadius);
}


/* Thumb styles */

::-webkit-scrollbar-thumb {
    /* round corners */
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--ItemCornerRadius) 0 0 var(--ItemCornerRadius);
    background-clip: padding-box;
    /* height: 90px; */
    /* Shadow */
    -webkit-box-shadow: inset 0 0 var(--scrollbarThumbShadowWidth) var(--scrollbarThumbShadow);
    box-shadow: inset 0 0 var(--scrollbarThumbShadowWidth) var(--scrollbarThumbShadow);
}

p,
h1 {
    color: var(--SearchBarUI);
}

.module {
    scroll-behavior: [ smooth];
}


/*
TODO
-
Separator gradient coloring*/

hr {
    height: var(--separatorHeight);
    border-width: 0;
    color: #FFFFFF;
    background-color: #FFFFFF;
    /* Round corners */
    border-radius: var(--separatorCornerRadius);
    margin: 0 auto;
    max-width: var(--separatorWidth);
}

#SettingScrollArea {
    /* Center list */
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: block;
    /* Dimensions of list area */
    width: 100%;
    height: var(--ItemListHeight);
    /* Show overflow vertically as list can be scrolled through */
    overflow-y: auto;
    /* Do not show horizontal overflow */
    overflow-x: hidden;
    /* transparent bg so item list bg is only shown */
    background: #00000000;
    /* Round corners */
    border-radius: var(--ItemCornerRadius);
}

#tooltip {
    position: absolute;
    background: linear-gradient(var(--searchBarBgColorDirection), var(--searchBarBgColor1), var(--searchBarBgColor2));
    border: 2px solid #FFFFFF;
    color: var(--SearchBarUI);
    padding: 8px;
    border-radius: var(--ItemCornerRadius);
    z-index: 100000000000000000000000000000000;
    max-width: 50%;
    text-overflow: clip;
}

h2 {
    color: var(--SearchBarUI);
}

input [type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__label {
    font-family: "SubtitleFontFamily";
    font-size: 16px;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: "TitleFontFamily";
    font-size: 16px;
    margin: 0 auto;
    padding: 5px 5px;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.form__input:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}


/*the container must be positioned relative:*/

.custom-select {
    position: relative;
    border-radius: 15px;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: #FFF;
    border-radius: 15px;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    border-radius: 15px;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 15px;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background-color: #FFF;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 15px;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* Materialize Collapsible Styles*/

.levelOne {
    font-size: var(--TitleSize);
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    color: var(--TitleColor1)
}

.levelTwo {
    font-size: var(--TitleSize);
    margin: 0;
    padding: 10px;
    vertical-align: middle;
    color: var(--TitleColor1)
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    list-style-type: none;
}

.collapsible .collection {
    margin: 0;
    border: none;
}

.collapsible {
    margin: 0.5rem 0 1rem 0;
    word-wrap: break-word;
}

.collapsible-header {
    display: block;
    white-space: nowrap;
    cursor: pointer;
    line-height: 45px;
    padding: 0 auto;
    background-color: #ffffff00;
    border-radius: var(--ItemCornerRadius);
    word-wrap: break-word;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #00000000;
    box-sizing: border-box;
    word-wrap: break-word;
}

.collapsible-body p {
    margin: 0;
    width: 90%;
}

.collapsible.popout {
    border: none;
    box-shadow: none;
}

.collapsible.popout>li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 0;
    vertical-align: middle;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 90%;
    word-wrap: break-word;
}

.collapsible.popout>li.active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin: 16px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 90%;
    word-wrap: break-word;
}
