

:root {
  --textColor1: #FFFFFF;
  --textColor2: #FFFFFF;
  --textColorDirection: 0deg;

  --bgColor1: #cf27cf;
  --bgColor2: #1abc9c;
  --bgColorDirection: 90deg;

}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: var(--bgColor2);
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border-top-left-radius: 0;
    background-clip: padding-box;
    height: 90px;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#scrollArea {
    margin: 0 auto;
    display: none;
    width: 490px;
    height: 500px;
    overflow-y: auto;
    overflow-x: show;
    background: #00000000;
    border-radius: 15px;
}
li.selected {background:rgb(112, 112, 112)}
HTML
* {
  box-sizing: border-box;
}
.draggable {
    -webkit-app-region: drag;
}
/* Normal Input field */

.container {
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;

}
/*the list itself (not the items)*/
#itemList {
    padding-inline-start: 0;
    background-image: linear-gradient(var(--bgColorDirection), var(--bgColor1), var(--bgColor2));
    margin: 0 auto;
    border-radius: 15px;
    display: list;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
}
/*Each item in the list*/
.item {
    list-style-type: none;
    background-image: linear-gradient(var(--bgColorDirection), var(--bgColor1), var(--bgColor2));
    display: grid;
    padding-left: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        'fullname terms'
        'party terms';
    text-align: left;
}



.item > h1 {
    background: -webkit-linear-gradient(var(--textColorDirection), var(--textColor1), var(--textColor2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-area: fullname;
    margin-bottom: 25px;
}

.item > h3 {
    background: -webkit-linear-gradient(var(--textColorDirection), var(--textColor1), var(--textColor2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-area: party;
    margin: 0;
}

.item > p {
    background: -webkit-linear-gradient(var(--textColorDirection), var(--textColor1), var(--textColor2));
    -webkit-background-clip: text;
    padding-top: 15px;
    padding-right: 15px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-area: terms;
    margin: 0;
}

.item > h5 {
    background: -webkit-linear-gradient(var(--textColorDirection), var(--textColor1), var(--textColor2));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    padding-bottom: 10px;
}

.item > img {
    max-height: 100px;
    grid-area: image;
}

#searchBar {
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  background-image: url("../Icons/icon.png");
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 50%;
  height: 50px;
  font-size: 16px;
  font-family: Arial;
  text-align: left;
  padding: 12px 20px 12px 50px;
  box-shadow: 0 0 5px rgb(252, 251, 251);
  border: 1px solid rgba(155, 155, 155, 1);
  border-radius: 360px;
  margin-bottom: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    position: absolute;
    top: 7px;
    left: 15px;
}
